
body {
  font-family: 'Roboto', arial, sans-serif;
  color: #444444;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 15px;
  line-height: 1.5;
}
a {
  color: #7bb757;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #e74124;
}
a:focus {
  text-decoration: none;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  color: #fff;
  margin-right: 5px;
}
a.btn-cta,
.btn-cta {
  padding: 8px 30px;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #7bb757;
  border: 2px solid #7bb757;
  color: #fff;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #e9553b;
  border: 2px solid #e9553b;
  color: #fff;
}
a.btn-cta-secondary,
.btn-cta-secondary {
  background: none;
  border: 2px solid #7bb757;
  color: #7bb757;
}
a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #7bb757;
  border: 2px solid #7bb757;
  color: #fff;
}
a.btn-ghost,
.btn-ghost {
  background: none;
  border: 1px solid #fff;
  color: #fff !important;
  padding: 8px 20px;
  vertical-align: middle;
}
a.btn-ghost:hover,
.btn-ghost:hover {
  background: #4a6781;
  border: 1px solid #4a6781;
  color: #fff;
}
a.btn-ghost .fa,
.btn-ghost .fa {
  margin-right: 10px;
  font-size: 22px;
}
a.btn-ghost .text,
.btn-ghost .text {
  position: relative;
  top: -2px;
}
.highlight {
  color: #7bb757;
}
.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 40px;
  border-color: #eeeeee;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a6a6a6;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a6a6a6;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a6a6a6;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a6a6a6;
}
.form-control:focus {
  border-color: #e1e1e1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.text-highlight {
  color: #952410;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select {
  appearance: none;
  /* for mobile safari */
  -webkit-appearance: none;
}
#topcontrol {
  background: #5d80a1;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  z-index: 30;
}
#topcontrol:hover {
  background: #384d60;
}
#topcontrol .fa {
  position: relative;
  top: 3px;
  font-size: 25px;
}
.video-container iframe {
  max-width: 100%;
}
/* ======= Header ======= */
.header {
  color: #fff;
  width: 100%;
  position: relative;
  z-index: 40;
  height: 80px;
}
.header.scrolled {
  height: 80px;
  top: 0;
}
.header.scrolled .main-nav .nav .nav-item a {
  color: #666666;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.header.scrolled .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
  background: #7bb757;
  border-color: #7bb757;
}
.header.scrolled .main-nav .nav .dropdown-menu a {
  color: #fff;
}
.header h1.logo {
  font-family: "Roboto Slab", arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 15px;
  float: left;
}
.header h1.logo a {
  color: #fff;
  padding: 15px 30px;
  display: inline-block;
  text-align: center;
  line-height: 1.4;
  max-width: 155px;
  background: #7bb757;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  -ms-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  position: relative;
  font-size: 20px;
}
.header h1.logo a:hover {
  text-decoration: none;
}
.header h1.logo .logo-title {
  vertical-align: middle;
  line-height: 1.6;
}
.header .main-nav {
  margin-top: 15px;
}
.header .main-nav .navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.header .main-nav .navbar-toggle:focus {
  outline: none;
}
.header .main-nav .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.6);
  height: 3px;
}
.header .main-nav .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 15px;
}
.header .main-nav .nav .nav-item.active a {
  color: #7bb757;
  background: none;
  font-weight: bold;
}
.header .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 10px;
  margin-top: 5px;
  font-size: 13px;
}
.header .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary:hover {
  border: 1px solid #7bb757;
  background: #7bb757;
}
.header .main-nav .nav .nav-item a {
  color: #fff;
}
.header .main-nav .nav .nav-item a:hover {
  color: #7bb757;
  background: none;
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #7bb757;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}
.header .main-nav .nav.active {
  position: relative;
}
.header .main-nav .nav.active > a {
  background: #e74124;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.header .main-nav .nav.active > a:before {
  content: "\f0d8";
  position: absolute;
  bottom: -8px;
  left: 0;
  text-align: center;
  font-family: FontAwesome;
  display: block;
  font-size: 12px;
  width: 100%;
}
.header .main-nav .nav.active > a.dropdown-toggle:before {
  display: none;
}
.header .main-nav .nav.open a {
  background: none;
}
.header .main-nav .nav .dropdown-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  border: none;
  text-transform: none;
  min-width: 180px;
  background: #253340;
}
.header .main-nav .nav .dropdown-menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #253340;
  position: absolute;
  right: 30px;
  top: -10px;
}
.header .main-nav .nav .dropdown-menu a {
  border-bottom: 1px solid #212e3a;
  padding: 8px 20px;
  color: #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.header .main-nav .nav .dropdown-menu a:hover {
  background: #2e4050;
  color: #fff;
}
/* Override bootstrap default */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: none;
}
/* ======= Headline Background & Slideshow ======= */
.bg-slider-wrapper {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 780px;
  background: #373737;
}
.bg-slider-wrapper .flexslider {
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.bg-slider-wrapper .flexslider .slide {
  display: block;
  height: 780px;
}
.bg-slider-wrapper .flexslider .slide.slide-1 {
  background: #253340 url('../images/background/bg-header-1.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-slider-wrapper .flexslider .slide.slide-2 {
  background: #253340 url('../images/background/bg-header-2.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-slider-wrapper .flexslider .slide.slide-3 {
  background: #253340 url('../images/background/bg-header-3.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-slider-wrapper .flexslider .flex-control-nav {
  z-index: 30;
  bottom: 30px;
  position: relative;
}
.bg-slider-wrapper .flexslider .flex-control-nav li a {
  background: #999999;
}
.bg-slider-wrapper .flexslider .flex-control-nav li a.flex-active {
  background: #bfbfbf;
}
.headline-bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 500px;
  background: #253340 url('../images/background/bg-header-small-1.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.headline-bg.pricing-headline-bg {
  background-image: url('../images/background/bg-header-small-2.jpg');
}
.headline-bg.contact-headline-bg {
  background-image: url('../images/background/bg-header-small-3.jpg');
}
.headline-bg.about-headline-bg {
  background-image: url('../images/background/bg-header-small-4.jpg');
}
/* ======= Promo ======= */
.promo {
  padding-top: 120px;
  position: relative;
  color: #fff;
  margin-bottom: 80px;
  height: 620px;
  z-index: 10;
}
.promo .title {
  font-size: 46px;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.promo.section .intro {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.promo .btn-cta {
  font-size: 18px;
}
.promo .btn-link {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  text-decoration: none;
}
.promo .btn-link:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  text-decoration: none;
}
.promo .btn-link:focus {
  outline: none;
}
.promo .btn-link .fa {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
  top: 2px;
}
/* ======= sections-wrapper ======= */
.sections-wrapper {
  background: #fff;
  z-index: 20;
  position: relative;
}
.section .intro {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  color: #999999;
  font-size: 18px;
}
.section-on-bg .title {
  color: #fff;
}
.section-on-bg .intro {
  color: #fff;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
/* ======= Why ======= */
.why {
  padding-top: 80px;
  padding-bottom: 80px;
}
.why .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
}
.why .intro {
  color: #999999;
  margin-bottom: 30px;
  font-size: 18px;
}
.why .item {
  padding: 90px 0;
  border-bottom: 1px solid #eeeeee;
}
.why .item.last-item {
  border-bottom: none;
}
.why .item .title {
  font-size: 26px;
  color: #4a6781;
  margin-top: 0;
  margin-bottom: 15px;
}
.why .item .desc {
  margin-bottom: 60px;
}
.why .item .desc .fa {
  margin-right: 5px;
}
.why .item .quote {
  position: relative;
}
.why .item .quote .quote-profile {
  position: absolute;
  left: 0;
}
.why .item .quote .quote-content {
  margin-left: 90px;
  background: #f5f5f5;
  border-left: 4px solid #e8e8e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 14px;
  padding: 15px;
}
.why .item .quote .quote-content:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e8e8e8;
  position: absolute;
  left: 80px;
  top: 25px;
}
.why .item .quote blockquote {
  border-left: none;
  font-style: italic;
  color: #666666;
  font-size: 16px;
  padding: 0;
  margin-bottom: 10px;
}
.why .item .quote .source {
  color: #999999;
  font-size: 13px;
  margin-bottom: 0;
}
.why .item .quote .source a {
  color: #999999;
}
.why .item .quote .source a:hover {
  color: #808080;
}
.why .figure {
  position: relative;
  text-align: center;
}
.why .figure .figure-caption {
  color: #b3b3b3;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}
.why .figure .figure-caption a {
  color: #b3b3b3;
}
.why .figure .figure-caption a:hover {
  color: #7bb757;
}
.why .figure img {
  margin-left: auto;
  margin-right: auto;
}
.why .control {
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -65px;
}
.why .control .play-trigger {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  width: 60px;
  height: 60px;
  border: 4px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
  text-align: center;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.why .control .play-trigger:active,
.why .control .play-trigger:focus {
  outline: none;
}
.why .control .play-trigger:hover {
  color: #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}
.why .control .play-trigger:hover .fa {
  cursor: pointer;
}
.why .control .play-trigger .fa {
  font-size: 26px;
  position: relative;
  left: 2px;
}
.why .feature-lead .title {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 15px;
}
/* ======= Testimonials ======= */
.testimonials {
  background: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 120px;
}
.testimonials .carousel-indicators {
  bottom: -60px;
  z-index: auto;
}
.testimonials .carousel-indicators li {
  background: #cccccc;
  border: none;
  margin: 1px;
}
.testimonials .carousel-indicators li.active {
  background: #f19180;
  border: none;
  width: 10px;
  height: 10px;
  margin: 1px;
}
.testimonials .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.testimonials .item .profile {
  position: absolute;
  left: 0;
}
.testimonials .item .content {
  padding-left: 210px;
}
.testimonials .item blockquote {
  font-size: 20px;
  font-weight: 300;
  border-left: 0;
  padding: 0;
  position: relative;
}
.testimonials .item blockquote .fa {
  position: absolute;
  color: #ef7d69;
  font-size: 22px;
  left: -45px;
}
.testimonials .item .source {
  color: #7bb757;
}
.testimonials .item .source .title {
  font-size: 16px;
  color: #666666;
}
/* ======= Press ======= */
.press {
  padding-top: 80px;
  padding-bottom: 80px;
}
.press .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.press .press-list {
  margin-bottom: 15px;
  text-align: center;
}
.press .press-list.last {
  margin-bottom: 60px;
}
.press .press-list li {
  display: block;
  height: 80px;
}
.press .press-list li img {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.press .press-list li:hover img {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.press .press-lead .title {
  font-size: 18px;
  margin-bottom: 15px;
}
/* ======= cta-section ======= */
.cta-section {
  background: #253340 url('../images/background/bg-footer-1.jpg') no-repeat left top;
  background-size: cover;
  min-height: 420px;
  color: #fff;
  padding-top: 80px;
  border: none;
}
.cta-section.pricing-cta-section {
  background-image: url('../images/background/bg-footer-2.jpg');
}
.cta-section.contact-cta-section {
  background-image: url('../images/background/bg-footer-3.jpg');
}
.cta-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.cta-section .btn-cta {
  font-size: 20px;
}
.cta-section .intro {
  margin-bottom: 15px;
  color: #fff;
}
.cta-section .counting {
  color: #7bb757;
  font-weight: bold;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* ======= Features video ======= */
.features-video {
  padding-top: 170px;
  position: relative;
  z-index: 10;
}
.features-video .title {
  font-size: 36px;
  margin-bottom: 60px;
  margin-top: 0;
  color: #fff;
  font-weight: 300;
}
.features-video .video-container {
  max-width: 800px;
  margin: 0 auto;
}
.features-video iframe {
  background: #fff;
  padding: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}
/* ======= Features tabs ======= */
.features-tabbed {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features-tabbed .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.features-tabbed .tab-content {
  padding: 60px 30px;
}
.features-tabbed .tab-content .title {
  font-size: 16px;
  color: #f19180;
  font-weight: bold;
  margin-bottom: 30px;
}
.features-tabbed .tab-content .desc {
  margin-bottom: 30px;
  color: #666666;
}
.features-tabbed .tab-content .desc ul {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.features-tabbed .tab-content .desc ul li {
  margin-bottom: 10px;
}
.features-tabbed .tab-content .desc ul .fa {
  color: #7bb757;
  margin-right: 5px;
}
.features-tabbed .tab-content .desc blockquote {
  font-style: italic;
  color: #808080;
}
.features-tabbed .tab-content .desc .table {
  font-size: 14px;
  padding: 15px 0;
}
.features-tabbed .tab-content .desc .box {
  background: #f5f5f5;
  padding: 30px;
  font-size: 14px;
}
.features-tabbed .tab-content .figure {
  margin-bottom: 60px;
}
.features-tabbed .tab-content .figure img {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
.features-tabbed .tab-content .figure .figure-caption {
  color: #b3b3b3;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}
.features-tabbed .tab-content .figure .figure-caption a {
  color: #b3b3b3;
}
.features-tabbed .tab-content .figure .figure-caption a:hover {
  color: #7bb757;
}
.nav-tabs {
  border: none;
  margin: 0 auto;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  text-align: center;
  position: relative;
}
.nav-tabs:before {
  content: "";
  display: block;
  border-bottom: 1px solid #eeeeee;
  position: absolute;
  bottom: 0;
}
.nav-tabs > li {
  margin-bottom: -1px;
  position: relative;
  z-index: 1;
  background: #fff;
  border: 1px solid #eeeeee;
  border-right: none;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 20%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
}
.nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 0px;
  color: #999999;
  padding: 15px 30px;
  font-size: 14px;
  background: #fafafa;
  border: none;
}
.nav-tabs > li > a .fa {
  font-size: 20px;
}
.nav-tabs > li > a:hover {
  background: #f5f5f5;
}
.nav-tabs > li.active {
  border-top-color: #7bb757;
  border-bottom-color: #fff;
}
.nav-tabs > li.active > a {
  color: #7bb757;
  background: #fff;
  -webkit-box-shadow: inset 0 3px 0 #7bb757;
  -moz-box-shadow: inset 0 3px 0 #7bb757;
  box-shadow: inset 0 3px 0 #7bb757;
  border: none;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
}
.nav-tabs > li.active:hover > a {
  border-top: 0;
  border: none;
  color: #7bb757;
}
.nav-tabs > li.last {
  border-right: 1px solid #eeeeee;
}
/* ======= Steps ======= */
.steps {
  background: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 120px;
}
.steps .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.steps .step {
  padding: 30px 60px;
  color: #666666;
}
.steps .step .title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
}
.steps .step .title .number {
  width: 90px;
  height: 90px;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  background: #7bb757;
  border: 5px solid #f19180;
  color: #fff;
  margin: 0 auto;
  padding-top: 25px;
  font-size: 26px;
  font-weight: bold;
  font-family: arial, sans-serif;
  margin-bottom: 30px;
}
.steps .step .title .text {
  color: #f19180;
  font-weight: bold;
  font-size: 16px;
}
.steps .btn-cta-primary {
  margin: 0 auto;
  margin-top: 60px;
  font-size: 20px;
}
/* ======= Pricing ======= */
.pricing {
  padding: 80px 0;
  padding-top: 170px;
  position: relative;
  z-index: 10;
}
.pricing .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
  color: #fff;
}
.pricing .intro {
  color: #fff;
  margin-bottom: 80px;
}
.pricing .item {
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}
.pricing .item.best-buy {
  top: -15px;
  z-index: 11;
  position: relative;
}
.pricing .item.best-buy .item-inner {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.pricing .item.best-buy .item-inner:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.pricing .item.best-buy .heading {
  padding-top: 45px;
}
.pricing .item.best-buy .content {
  padding-bottom: 45px;
}
.pricing .item .item-inner {
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  border: 1px solid #eeeeee;
}
.pricing .item .item-inner:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.pricing .item .heading {
  margin-top: 0;
  padding: 30px 15px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.pricing .item .heading .title {
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px dashed #eeeeee;
  color: #444444;
}
.pricing .item .content {
  padding: 30px 15px;
  padding-top: 0;
  font-size: 14px;
}
.pricing .item .price-figure {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
}
.pricing .item .price-figure .number {
  font-size: 42px;
  font-weight: bold;
}
.pricing .item .price-figure .unit {
  font-weight: 400;
  color: #b3b3b3;
}
.pricing .item .price-figure .currency {
  top: -12px;
  right: 2px;
  position: relative;
  font-family: arial, sans-serif;
  color: #666666;
  font-size: 18px;
}
.pricing .item .ribbon {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 110px;
  height: 110px;
  overflow: hidden;
}
.pricing .item .ribbon .text {
  position: relative;
  left: -8px;
  top: 18px;
  width: 158px;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #5d80a1;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
}
.pricing .item .ribbon .text:before,
.pricing .item .ribbon .text:after {
  content: '';
  position: absolute;
  bottom: -5px;
  border-top: 5px solid #2e4050;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.pricing .item .ribbon .text:before {
  left: 0;
}
.pricing .item .ribbon .text:after {
  right: 0;
}
.pricing .item .feature-list {
  margin-bottom: 30px;
}
.pricing .item .feature-list li {
  border-bottom: 1px solid #f3f3f3;
  padding: 10px;
}
.pricing .item .feature-list li .fa {
  margin-right: 5px;
  color: #4a6781;
}
.pricing .item .feature-list li.disabled {
  color: #999999;
}
.pricing .item .feature-list li.disabled .fa {
  color: #999999;
}
/* ======= Download Apps ======= */
.download-page .headline-bg {
  height: 1200px;
  background: #253340 url('../images/background/bg-mobile-headline.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.apps-section {
  min-height: 900px;
  padding-top: 160px;
}
.apps-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
  color: #fff;
}
.apps-section .intro {
  text-align: left;
  margin-bottom: 60px;
}
.apps-section .phone-holder {
  width: 324px;
  height: 651px;
  display: block;
  background: url('../images/mobile/iphone.png') no-repeat left top;
  position: relative;
}
.apps-section .phone-holder .screenshot {
  position: absolute;
  left: 21px;
  top: 75px;
}
.apps-section .content-area .download-list li {
  margin-bottom: 15px;
}
.apps-section .content-area .download-list li .btn {
  width: 220px;
  text-align: left;
}
.apps-section .content-area .info {
  margin-top: 60px;
  margin-bottom: 60px;
  background: rgba(31, 51, 64, 0.8);
  padding: 30px;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.apps-section .content-area .info .title {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
}
/* ======= FAQ Section ======= */
.faq {
  background: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 120px;
}
.faq .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.faq .panel {
  background: #fff;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}
.faq .panel:hover {
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
}
.faq .panel .panel-heading {
  padding: 15px 30px;
}
.faq .panel .panel-body {
  padding: 30px;
  padding-top: 0;
  color: #666666;
}
.faq .panel .panel-title {
  font-weight: normal;
  color: #666666;
}
.faq .panel .panel-title a {
  text-decoration: none;
}
.faq .panel .panel-title .active {
  color: #7bb757;
}
.faq .panel .panel-title .panel-toggle .fa {
  margin-right: 10px;
  color: #f19180;
}
.faq .panel .panel-title:hover .fa {
  color: #7bb757;
}
.faq .contact-lead {
  margin-top: 60px;
}
.faq .contact-lead .title {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  color: #999999;
}
/* ======= Contact section ======= */
.contact-section {
  padding: 80px 0;
  padding-top: 90px;
  position: relative;
  z-index: 10;
}
.contact-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact-section .intro {
  margin-bottom: 60px;
}
.contact-section .contact-form {
  margin-left: 15px;
  margin-right: 15px;
}
.contact-section .contact-form .contact-form-inner {
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}
.contact-section .contact-form .error {
  color: #7bb757;
  font-family: arial, sans-serif;
  display: block;
  font-size: 14px;
  text-align: left;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: 300;
}
/* ======= Contact-other section ======= */
.contact-other-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact-other-section .other-info li {
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  color: #666666;
  text-align: left;
  padding-left: 90px;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #eeeeee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contact-other-section .other-info li a {
  color: #666666;
}
.contact-other-section .other-info li a:hover {
  color: #7bb757;
}
.contact-other-section .other-info li .fa {
  position: absolute;
  left: 0;
  top: 0;
  background: #7bb757;
  color: #fff;
  width: 60px;
  height: 100%;
  font-size: 20px;
  padding-top: 15px;
  text-align: center;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contact-other-section .other-info li .fa.fa-twitter {
  font-size: 22px;
}
.contact-other-section .other-info li .fa.fa-phone {
  font-size: 22px;
}
.contact-other-section .other-info li .fa.fa-map-marker {
  font-size: 22px;
  padding-top: 45px;
}
/* ======= Map section ======= */
.map-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.map-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}
.map-section .gmap-wrapper {
  padding: 10px;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.map-section .gmap {
  height: 400px;
  text-align: left;
  font-weight: normal;
}
.map-section .gmap,
.map-section .gmap *,
.map-section .gmap *:before,
.map-section .gmap *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.map-section .gmap .title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 5px;
}
.map-section .gmap .gm-style-iw {
  width: 150px;
}
/* ======= Blog Slideshow ======= */
.blog-slider {
  margin-bottom: 60px;
  margin-top: 80px;
  border: none;
  height: 400px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.blog-slider .slide {
  display: block;
  height: 400px;
  background-color: #253340;
}
.blog-slider .slide:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 10;
}
.blog-slider .slide.slide-1 {
  background: #253340 url('../images/blog/post-1.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.blog-slider .slide.slide-2 {
  background: #253340 url('../images/blog/post-2.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.blog-slider .slide.slide-3 {
  background: #253340 url('../images/blog/post-3.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.blog-slider .slide.slide-4 {
  background: #253340 url('../images/blog/post-4.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.blog-slider .flex-control-nav {
  bottom: 15px;
  z-index: 10;
}
.blog-slider .flex-control-nav li a {
  background: #5e5e5e;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.blog-slider .flex-control-nav li a.flex-active {
  background: #fff;
}
.blog-slider .flex-direction-nav a {
  text-shadow: none;
  color: #fff;
  position: absolute;
  width: 30px;
  height: 50px;
  display: block;
}
.blog-slider .flex-direction-nav a.flex-prev {
  left: 5%!important;
}
.blog-slider .flex-direction-nav a.flex-prev:before {
  content: "";
  text-indent: -9999px;
  background: url('../images/flexslider/carousel-arrow-prev.png') no-repeat left top;
  display: block;
  width: 30px;
  height: 50px;
}
.blog-slider .flex-direction-nav a.flex-next {
  right: 5%!important;
}
.blog-slider .flex-direction-nav a.flex-next:before {
  content: "";
  text-indent: -9999px;
  background: url('../images/flexslider/carousel-arrow-next.png') no-repeat right top;
  display: block;
  width: 30px;
  height: 50px;
}
.blog-slider:hover .flex-prev {
  left: 5%!important;
}
.blog-slider:hover .flex-next {
  right: 5%!important;
}
.blog-slider .flex-caption {
  padding-top: 90px;
  position: relative;
  z-index: 20;
  text-align: center;
  color: #fff;
}
.blog-slider .flex-caption a {
  color: #fff;
}
.blog-slider .flex-caption .title {
  font-size: 42px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 0;
}
.blog-slider .flex-caption .title a:hover {
  text-decoration: none;
}
.blog-slider .flex-caption .meta {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  margin-bottom: 30px;
}
.blog-slider .flex-caption a.more-link {
  color: #fff;
}
.blog-slider .flex-caption a.more-link:hover {
  color: #7bb757;
}
/* Blog homepage */
.blog-list .post {
  padding: 0 15px;
  margin-bottom: 30px;
}
.blog-list .post .post-inner {
  padding: 0px;
  position: relative;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}
.blog-list .post .post-thumb {
  background: #253340;
  overflow: hidden;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.blog-list .post .post-thumb img {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
  text-align: center;
}
.blog-list .post .post-thumb img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.blog-list .post .content {
  padding: 30px;
  padding-bottom: 15px;
  color: #666666;
}
.blog-list .post .content .post-title {
  margin-top: 0;
  font-size: 18px;
}
.blog-list .post .content .post-title a {
  color: #253340;
}
.blog-list .post .content .post-entry {
  margin-bottom: 15px;
}
.blog-list .post .content .meta {
  font-size: 13px;
  color: #999999;
  margin-bottom: 0;
}
.blog-list .post .content .meta ul {
  margin-left: 0;
  border-top: 1px solid #eeeeee;
  padding-top: 15px;
}
.blog-list .post .content .meta li:first-child {
  padding-left: 0;
}
.blog-list .post .content .meta li .fa {
  margin-right: 5px;
}
.blog-list .post .content .meta li a {
  color: #999999;
}
.blog-list .post .content .meta li a:hover {
  color: #7bb757;
}
/* Single blog post */
.blog-entry-wrapper {
  padding-bottom: 80px;
}
.blog-entry-wrapper .blog-entry .blog-entry-heading {
  margin-bottom: 60px;
  position: relative;
  height: 500px;
  background: #253340 url('../images/blog/post-2.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}
.blog-entry-wrapper .blog-entry .blog-entry-heading:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.blog-entry-wrapper .blog-entry .blog-entry-heading .container {
  position: relative;
  z-index: 11;
  max-width: 700px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 120px;
}
.blog-entry-wrapper .blog-entry .blog-entry-heading .title {
  margin-bottom: 30px;
  font-size: 42px;
}
.blog-entry-wrapper .blog-entry .blog-entry-heading .meta {
  font-size: 18px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.blog-entry-wrapper .blog-entry .blog-entry-heading .meta a {
  color: #fff;
}
.blog-entry-wrapper .blog-entry .blog-entry-heading .meta a:hover {
  color: #fff;
}
.blog-entry-wrapper .blog-entry .blog-entry-heading .meta .fa {
  margin-right: 5px;
}
.blog-entry-wrapper .blog-entry .blog-entry-heading .post-nav-top {
  position: absolute;
  z-index: 11;
  width: 100%;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 30px;
  margin-bottom: 0;
  font-size: 14px;
}
.blog-entry-wrapper .blog-entry .blog-entry-heading .post-nav-top a {
  color: #fff;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.blog-entry-wrapper .blog-entry .blog-entry-heading .post-nav-top a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.blog-entry-wrapper .blog-entry .blog-entry-content {
  font-size: 18px;
  line-height: 1.6;
  color: #666666;
}
.blog-entry-wrapper .blog-entry .blog-entry-content h1,
.blog-entry-wrapper .blog-entry .blog-entry-content h2,
.blog-entry-wrapper .blog-entry .blog-entry-content h3,
.blog-entry-wrapper .blog-entry .blog-entry-content h4,
.blog-entry-wrapper .blog-entry .blog-entry-content h5,
.blog-entry-wrapper .blog-entry .blog-entry-content h6 {
  color: #4a6781;
}
.blog-entry-wrapper .blog-entry .blog-entry-content h1.section-heading,
.blog-entry-wrapper .blog-entry .blog-entry-content h2.section-heading,
.blog-entry-wrapper .blog-entry .blog-entry-content h3.section-heading,
.blog-entry-wrapper .blog-entry .blog-entry-content h4.section-heading,
.blog-entry-wrapper .blog-entry .blog-entry-content h5.section-heading,
.blog-entry-wrapper .blog-entry .blog-entry-content h6.section-heading {
  margin-top: 60px;
  margin-bottom: 30px;
}
.blog-entry-wrapper .blog-entry .blog-entry-content p {
  margin-bottom: 30px;
}
.blog-entry-wrapper .blog-entry .blog-entry-content ul,
.blog-entry-wrapper .blog-entry .blog-entry-content ol {
  margin-bottom: 30px;
}
.blog-entry-wrapper .blog-entry .blog-entry-content ul li,
.blog-entry-wrapper .blog-entry .blog-entry-content ol li {
  margin-bottom: 15px;
}
.blog-entry-wrapper .blog-entry .blog-entry-content .figure {
  margin-bottom: 30px;
}
.blog-entry-wrapper .blog-entry .blog-entry-content .figure .figure-caption {
  font-size: 16px;
  color: #999999;
  margin-top: 10px;
}
.blog-entry-wrapper .blog-entry .blog-entry-content .figure .figure-caption a {
  color: #999999;
}
.blog-entry-wrapper .blog-entry .blog-entry-content .figure .figure-caption a:hover {
  color: #7bb757;
}
.blog-entry-wrapper .blog-entry .blog-entry-content .custom-list-style {
  margin-bottom: 30px;
}
.blog-entry-wrapper .blog-entry .blog-entry-content .custom-list-style li {
  list-style: none;
  margin-bottom: 5px;
}
.blog-entry-wrapper .blog-entry .blog-entry-content .custom-list-style li .fa {
  margin-right: 10px;
  color: #7bb757;
}
.blog-entry-wrapper .blog-entry .post-nav {
  margin-bottom: 60px;
  margin-top: 60px;
}
.blog-entry-wrapper .blog-entry .post-nav .nav-next {
  float: right;
}
.blog-entry-wrapper .blog-entry .post-nav .nav-next .fa {
  margin-left: 5px;
}
.blog-entry-wrapper .blog-entry .post-nav .nav-previous .fa {
  margin-right: 5px;
}
.blog-entry-wrapper .custom-quote {
  border: none;
  padding: 60px 30px;
  font-family: 'Roboto slab', serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
}
.blog-entry-wrapper .custom-quote p {
  color: #666666;
  line-height: 1.6;
}
.blog-entry-wrapper .custom-quote .fa {
  color: #7bb757;
  margin-right: 10px;
}
.blog-entry-wrapper .custom-quote .source {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0 !important;
  font-size: 16px;
  text-align: right;
}
.blog-entry-wrapper .custom-quote .source .fa {
  margin-right: 5px;
}
.blog-entry-wrapper .custom-quote .source .name {
  color: #444444;
}
.blog-entry-wrapper .custom-quote .source .title {
  font-size: 16px;
  color: #999999;
}
.blog-entry-wrapper .box {
  padding: 30px;
  background: #f5f5f5;
}
.blog-page .header-blog {
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background: #fff;
  height: 80px;
}
.blog-page .header-blog .main-nav .nav .nav-item a {
  color: #666666;
}
.blog-page .header-blog .main-nav .nav .nav-item a:hover {
  color: #7bb757;
}
.blog-page .header-blog .main-nav .nav .dropdown-menu a {
  color: #fff;
}
.blog-page .header-blog h1.logo a {
  max-width: inherit;
  background: none;
  color: #7bb757;
  padding-left: 0;
  padding-top: 25px;
}
.blog-page .header-blog h1.logo a .sub {
  font-family: "Roboto", arial, sans-serif;
  color: #253340;
  font-weight: 300;
}
.blog-page .header-blog .main-nav .nav .nav-item.last {
  margin-right: 40px;
}
.blog-page .header-blog .main-nav .nav .nav-item.last .fa {
  font-size: 16px;
  margin-right: 5px;
}
/* Blog category page */
.blog-category {
  margin-top: 160px;
}
.blog-category .page-title {
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 36px;
  padding-top: 80px;
}
.blog-category .page-title .fa {
  color: #384d60;
  margin-right: 10px;
  font-size: 30px;
}
.blog-category .blog-list .post .content .post-title {
  font-size: 24px;
}
.blog-category .blog-list .post .content .meta ul {
  border-top: none;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
  padding-top: 5px;
}
.blog-category .blog-category-list .post {
  margin-bottom: 60px;
}
/* Blog archive page */
.blog-archive .blog-list .post .content {
  padding-left: 80px;
}
.blog-archive .post {
  position: relative;
}
.blog-archive .post .date-label {
  background: #f5f5f5;
  display: inline-block;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 13px;
  position: absolute;
  left: 15px;
  top: 30px;
  color: #fff;
}
.blog-archive .post .date-label .month {
  background: #253340;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  padding: 2px 0;
}
.blog-archive .post .date-label .date-number {
  clear: left;
  display: block;
  padding-top: 5px;
  font-size: 18px;
  font-family: 'open sans', arial, sans-serif;
  font-weight: 500;
  color: #253340;
}
/* ======= About Page ======= */
.story-section {
  padding-top: 90px;
  position: relative;
  z-index: 10;
}
.story-section .title {
  font-size: 36px;
  margin-bottom: 60px;
  margin-top: 0;
  color: #fff;
  font-weight: 300;
}
.story-section .story-container-inner {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: left;
}
.story-section .about {
  padding: 30px;
}
.story-section .belife {
  border-color: #f19180;
  padding: 15px 30px;
  font-family: 'Roboto slab', serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  margin: 60px 30px;
  color: #666666;
}
.story-section .press-kit {
  padding-top: 60px;
  padding-bottom: 60px;
}
.story-section .press-kit .title {
  color: #444444;
  font-size: 28px;
}
.story-section .press-kit .btn {
  margin: 30px 0;
}
.story-section .team {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
.story-section .team .title {
  color: #444444;
  font-size: 28px;
}
.story-section .team .member {
  margin-bottom: 30px;
}
.story-section .team .member .member-inner {
  background: #253340;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  text-align: center;
}
.story-section .team .member .member-inner img {
  margin: 0 auto;
}
.story-section .team .member .member-inner:hover img {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.story-section .team .member .member-inner:hover .social {
  visibility: visible;
}
.story-section .team .member .profile {
  background: #253340;
  color: #fff;
  text-align: center;
}
.story-section .team .member .profile .info {
  padding: 15px 0;
}
.story-section .team .member .profile .name {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  font-size: 18px;
}
.story-section .team .member .profile .job-title {
  color: #fff;
  font-size: 14px;
}
.story-section .team .member .social {
  width: 100%;
  top: 50%;
  position: absolute;
  visibility: hidden;
}
.story-section .team .member .social-list {
  display: inline-block;
  margin: 0 auto;
}
.story-section .team .member .social-list a {
  color: #fff;
  background: #253340;
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.story-section .team .member .social-list a .fa {
  padding-top: 10px;
  font-size: 18px;
}
.story-section .team .member .social-list a:hover {
  background: #7bb757;
}
/* ======= Modal ======= */
.modal.modal-video .modal-dialog {
  width: 760px;
  margin-top: 90px;
}
.modal.modal-video .modal-body {
  padding: 0;
  padding-top: 0;
}
.modal.modal-video .modal-header {
  border: none;
  padding: 0;
  position: relative;
}
.modal.modal-video .modal-content {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal.modal-video button.close {
  font-size: 36px;
  font-weight: 300;
  text-shadow: none;
  color: #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  background: none;
  position: absolute;
  right: 0px;
  bottom: 5px;
  z-index: 10;
}
.modal.modal-video button.close:hover {
  color: #7bb757;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.modal-backdrop.in {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
/* ======= Login Page ======= */
.has-full-screen-bg .upper-wrapper {
  background: #253340 url('../images/background/bg-screen-1.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.has-full-screen-bg.signup-page .upper-wrapper {
  background: #253340 url('../images/background/bg-screen-2.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.has-full-screen-bg .header h1.logo {
  float: none;
  text-align: center;
}
.has-full-screen-bg .header h1.logo a {
  margin: 0 auto;
}
.access-section {
  padding-bottom: 200px;
  padding-top: 90px;
  padding-left: 10px;
  padding-right: 10px;
}
.access-section .form-box .form-box-inner {
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 40px;
}
.access-section .form-box .title {
  font-weight: 300;
  margin-bottom: 60px;
  margin-top: 0;
}
.access-section.signup-section .title {
  margin-bottom: 15px;
}
.access-section.signup-section .intro {
  margin-bottom: 60px;
}
.access-section .form-group {
  position: relative;
}
.access-section .form-group.email:before {
  content: "\f007";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: #999999;
}
.access-section .form-group.password:before {
  content: "\f023";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: #999999;
}
.access-section .form-control {
  font-size: 16px;
  padding-left: 30px;
  font-size: 14px;
}
.access-section .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999999;
}
.access-section .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999999;
}
.access-section .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999999;
}
.access-section .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999999;
}
.access-section .social-btns {
  padding-left: 60px;
  min-height: 250px;
  margin-bottom: 15px;
}
.access-section .social-btns li {
  margin-bottom: 10px;
}
.access-section .social-btns li .btn {
  color: #fff;
  min-width: 220px;
  text-align: left;
}
.access-section .social-btns li .btn:hover {
  color: #fff;
}
.access-section .social-btns li .btn .fa {
  font-size: 18px;
  position: relative;
  top: 2px;
  margin-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding-right: 10px;
  width: 30px;
}
.access-section .twitter-btn {
  background: #55acee;
}
.access-section .twitter-btn:hover {
  background: #2795e9;
}
.access-section .facebook-btn {
  background: #3b5998;
}
.access-section .facebook-btn:hover {
  background: #2d4373;
}
.access-section .google-btn {
  background: #dd4b39;
}
.access-section .google-btn:hover {
  background: #c23321;
}
.access-section .github-btn {
  background: #444444;
}
.access-section .github-btn:hover {
  background: #2b2b2b;
}
.access-section .forgot-password {
  font-size: 13px;
  margin-top: 10px;
}
.access-section .forgot-password a {
  color: #999999;
}
.access-section .forgot-password a:hover {
  text-decoration: underline;
  color: #7bb757;
}
.access-section .divider {
  border-left: none;
  margin-bottom: 30px;
  position: static;
}
.access-section .divider span {
  background: #fff;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  top: inherit;
  text-transform: uppercase;
  color: #999999;
}
.access-section .divider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  background: #e5e5e5;
  height: 1px;
  width: 100%;
}
.access-section .social-btns {
  padding-left: 0;
  text-align: center;
}
.access-section .social-btns .btn {
  min-width: 100%;
}
.access-section .social-btns .social-login {
  display: inline-block;
  margin: 0 auto;
}
.access-section .note {
  color: #999999;
  font-size: 13px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.access-section .btn + .note {
  margin: 15px 0;
}
.access-section .remember label {
  font-size: 14px;
  color: #666666;
}
.access-section .lead {
  font-size: 14px;
  color: #999999;
  margin-top: 30px;
}
/* ======= Reset Password Page ======= */
.resetpass-section .form-box .title {
  margin-bottom: 30px;
}
.resetpass-section .intro {
  font-size: 16px;
  margin-bottom: 30px;
}
/* ======= Footer ======= */
.footer {
  background: #253340;
  color: #fff;
  padding-top: 40px;
  font-size: 14px;
  position: relative;
  z-index: 20;
}
.footer p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.footer .btn-cta,
.footer a.btn-cta {
  padding: 9px 10px;
}
.footer .footer-col.links .fa {
  margin-right: 5px;
}
.footer .footer-col.links li {
  margin-bottom: 10px;
}
.footer .footer-col.connect .social {
  margin-bottom: 15px;
  overflow: hidden;
}
.footer .footer-col.connect .social li {
  margin-right: 10px;
}
.footer .footer-col.connect .social li a .fa {
  color: #b3b3b3;
  font-size: 22px;
}
.footer .footer-col.connect .social li a:hover .fa {
  color: #7bb757;
}
.footer .footer-col.connect .btn-cta-primary {
  background: #5d80a1;
  border-color: #5d80a1;
}
.footer .footer-col.connect .btn-cta-primary:hover {
  background: #4a6781;
  border-color: #4a6781;
}
.footer .footer-col .title {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.footer .footer-col p {
  color: #fff;
}
.footer .footer-col a {
  color: #6d8dab;
}
.footer .footer-col a:hover {
  color: #8da6bd;
}
.footer .footer-col .navbar-form {
  padding-left: 0;
  padding-right: 0;
}
.footer .footer-col .navbar-form .form-control {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.footer .footer-col .navbar-form .form-control:focus {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .has-divider {
  border-top: 1px solid #2b3b4a;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .download .download-list li {
  margin-bottom: 15px;
}
.footer .download .download-list li .btn-ghost {
  text-align: left;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  width: 230px;
}
.footer .download .download-list li .btn-ghost:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .contact p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.footer .contact p a {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .contact .fa {
  margin-right: 10px;
  font-size: 20px;
}
.footer .contact .email .fa {
  font-size: 16px;
}
.footer .bottom-bar {
  background: #1e1e1e;
  color: #b3b3b3;
  font-size: 14px;
  padding: 10px 0;
}
.footer .bottom-bar .copyright {
  line-height: 1.6;
}
/* ======= Pagination ======= */
.pagination {
  margin-bottom: 60px;
  font-size: 14px;
  font-family: arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.pagination li a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  margin-right: 5px;
  color: #7bb757;
}
.pagination li a:hover {
  color: #da3518;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #7bb757;
  border: none;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #fbe1dc;
  border: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none;
}
/* ======= Search Form ======= */
.searchbox-icon,
.searchbox-submit {
  width: 38px;
  height: 38px;
  display: block;
  position: absolute;
  top: 0;
  font-size: 16px;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 2.4;
  text-align: center;
  cursor: pointer;
  color: #ef7d69;
  background: #fff;
}
.searchbox-icon:hover {
  color: #e9553b;
}
.searchbox-submit {
  font-size: 14px;
  font-family: arial, sans-serif;
}
.searchbox-container {
  width: 100%;
}
.searchbox-container .searchbox {
  position: relative;
  display: inline-block;
  height: 38px;
  width: 100%;
  float: right;
  top: -50px;
  right: 0;
  /* new */
  min-width: 38px;
  width: 0%;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}
.searchbox-container .searchbox.searchbox-open {
  width: 100%;
}
.searchbox-container .searchbox.searchbox-open .searchbox-icon,
.searchbox-container .searchbox.searchbox-open .searchbox-submit {
  background: #7bb757;
  color: #fff;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.searchbox-container .searchbox .searchbox-input {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #f5f5f5;
  border: 1px solid #eeeeee;
  width: 100%;
  height: 38px;
  margin: 0;
  padding-left: 20px;
  font-size: 13px;
}
.searchbox-container .searchbox .searchbox-input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a6a6a6;
}
.searchbox-container .searchbox .searchbox-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a6a6a6;
}
.searchbox-container .searchbox .searchbox-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a6a6a6;
}
.searchbox-container .searchbox .searchbox-input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a6a6a6;
}
/* ======= IE9 Fix ======= */
.ie9 .pricing .item .ribbon,
.ie8 .pricing .item .ribbon {
  top: 0px;
  right: 0px;
  height: 60px;
}
.ie9 .pricing .item .ribbon .text,
.ie8 .pricing .item .ribbon .text {
  position: static;
  font-size: 13px;
  width: auto;
  padding: 5px;
}
.ie9 .pricing .item .ribbon .text:before,
.ie8 .pricing .item .ribbon .text:before,
.ie9 .pricing .item .ribbon .text:after,
.ie8 .pricing .item .ribbon .text:after {
  display: none;
}
/* ======= Configure Style (Remove in production) ======= */
.config-wrapper {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 100;
}
.config-wrapper-inner {
  position: relative;
}
.config-trigger {
  display: block;
  position: absolute;
  left: -36px;
  width: 36px;
  height: 36px;
  background: #f5f5f5;
  color: #fff;
  text-align: center;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.config-trigger:hover {
  text-decoration: none;
}
.config-trigger:hover .fa {
  color: #253340;
}
.config-trigger .fa {
  font-size: 22px;
  padding-top: 8px;
  display: block;
  color: #2b2b2b;
}
.config-panel {
  width: 170px;
  display: none;
  background: #f5f5f5;
  padding: 15px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.config-panel h5 {
  margin-bottom: 15px;
}
.config-panel #color-options {
  margin-bottom: 10px;
}
.config-panel #color-options li {
  padding-right: 0;
}
.config-panel #color-options li a {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
}
.config-panel #color-options li a:hover {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  border: 2px solid rgba(0, 0, 0, 0.8);
}
.config-panel #color-options li.active a {
  border: 2px solid #000;
}
.config-panel #color-options li.theme-1 a {
  background: #7bb757;
}
.config-panel #color-options li.theme-2 a {
  background-color: #28a5a8;
}
.config-panel #color-options li.theme-3 a {
  background-color: #497cb1;
}
.config-panel #color-options li.theme-4 a {
  background-color: #f89d29;
}
.config-panel #color-options li.theme-5 a {
  background-color: #34495e;
}
.config-panel #color-options li.theme-6 a {
  background-color: #47c9af;
}
.config-panel #color-options li.theme-7 a {
  background-color: #a06081;
}
.config-panel #color-options li.theme-8 a {
  background-color: #96a94b;
}
.config-panel #color-options li.theme-9 a {
  background-color: #f06060;
}
.config-panel #color-options li.theme-10 a {
  background-color: #737f97;
}
.config-panel .close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #fff;
}
.config-panel .close .fa {
  color: #253340;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .config-wrapper {
    display: none;
  }
  #topcontrol {
    display: none !important;
  }
  .header h1.logo {
    float: none;
    margin: inherit;
    text-align: center;
  }
  .header h1.logo a {
    margin: 0 auto;
  }
  .header.header-fixed {
    position: relative;
  }
  .header.navbar-fixed-top {
    position: relative;
  }
  .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    top: 90px;
    position: absolute;
    background: #253340;
    z-index: 45;
  }
  .navbar-collapse .nav {
    margin: 0;
  }
  .header .main-nav .nav .dropdown-menu:before {
    display: none;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: inherit;
  }
  .has-full-screen-bg.access-page .upper-wrapper {
    background: #384d60;
  }
  .access-section {
    padding-top: 15px;
  }
  .headline-bg + .section,
  .bg-slider-wrapper + .section {
    padding-top: 45px;
  }
  .pricing .intro {
    margin-bottom: 45px;
  }
  .features-video iframe {
    padding: 5px;
  }
  .features-tabbed {
    padding-top: 160px;
  }
  .access-section {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
  }
  .signup-page .form-box .intro {
    margin-bottom: 45px;
  }
  .login-page .form-box .title {
    margin-bottom: 45px;
  }
  .section .title {
    font-size: 32px;
  }
  .section .intro {
    font-size: 16px;
  }
  .promo {
    height: 420px;
  }
  .why .item .content {
    margin-bottom: 60px;
  }
  .why .control {
    top: 58px;
    margin-left: -30px;
  }
  .why .item .title {
    margin-bottom: 30px;
    text-align: center;
  }
  .testimonials .item .profile {
    position: static;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .testimonials .item .content {
    padding-left: 60px;
  }
  .testimonials .item blockquote {
    font-size: 18px;
  }
  .pricing .item.best-buy {
    position: static;
    z-index: inherit;
  }
  .nav-tabs > li > a {
    padding: 10px 5px;
  }
  .apps-section .phone-holder {
    -webkit-background-size: 280px auto;
    -moz-background-size: 280px auto;
    -o-background-size: 280px auto;
    background-size: 280px auto;
  }
  .apps-section .phone-holder .screenshot {
    width: 242px;
    top: 66px;
  }
  .searchbox-container .searchbox {
    width: 100%;
    top: inherit;
    float: none;
    margin-bottom: 30px;
  }
  .searchbox-icon {
    display: none;
  }
  .searchbox-icon,
  .searchbox-submit {
    background: #7bb757;
    color: #fff;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .searchbox-icon:hover,
  .searchbox-submit:hover {
    color: #fff;
  }
  .main-nav .navbar-collapse .navbar-nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .blog-page .header-blog {
    position: relative;
  }
  .blog-page .header-blog .main-nav .nav .nav-item a {
    color: #fff;
  }
  .blog-page .header h1.logo {
    float: left;
    margin: inherit;
  }
  .blog-page .header .main-nav .navbar-toggle {
    margin-bottom: 0;
    top: 20px;
  }
  .blog-page .header .main-nav .navbar-toggle .icon-bar {
    background-color: #384d60;
  }
  .blog-page .header .main-nav .navbar-toggle:hover .icon-bar {
    background-color: #253340;
  }
  .blog-page .flexslider {
    margin-top: 0;
  }
  .blog-category {
    margin-top: 0;
  }
  .blog-page .navbar-collapse {
    top: 80px;
  }
  .blog-page .header.navbar-fixed-top .main-nav .nav .nav-item a {
    color: #fff;
  }
  .blog-slider .flex-caption .title {
    font-size: 36px;
  }
  .searchbox-container .searchbox .searchbox-input {
    position: static;
  }
  .footer-col {
    margin-bottom: 30px;
  }
  .footer-col .form-control {
    width: auto;
  }
  .footer .footer-col .navbar-form {
    padding-left: 15px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .footer .footer-col .navbar-form .form-control {
    display: inline-block;
  }
  .modal.modal-video .modal-dialog {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .download-page .headline-bg {
    height: 1600px;
  }
  .story-section .about {
    padding: 0;
  }
  .story-section .belife {
    margin-left: 0;
    margin-right: 0;
  }
  .story-section .team {
    padding: 0;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .config-wrapper {
    display: none;
  }
  .header {
    height: inherit;
  }
  .header.scrolled {
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .header.scrolled .main-nav .nav .nav-item a {
    color: #fff;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  .header.scrolled .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
    background: inherit;
    border-color: inherit;
  }
  .header.scrolled .main-nav .nav .dropdown-menu a {
    color: #fff;
  }
  .header.navbar-fixed-top {
    position: relative;
  }
  .blog-slider {
    margin-top: 0;
  }
  .blog {
    margin-top: 0;
  }
  .header h1.logo {
    float: none;
    text-align: center;
  }
  .header h1.logo a {
    margin: 0 auto;
  }
  .header .main-nav .nav .nav-item {
    margin-right: 10px;
  }
  .main-nav.navbar-right {
    float: none !important;
  }
  .blog-page .main-nav.navbar-right {
    float: right !important;
  }
  .navbar-collapse.collapse {
    text-align: center;
  }
  .navbar-collapse.collapse .navbar-nav {
    float: none;
    margin: 0 auto;
    display: inline-block;
  }
  .blog-page .header-blog {
    position: relative;
  }
  .blog-page .header h1.logo {
    float: left;
    margin: inherit;
  }
  .promo {
    height: 420px;
    padding-top: 80px;
  }
  .promo.section .intro {
    margin-bottom: 30px;
  }
  .promo .btn-link {
    margin-top: 15px;
  }
  .why .item .content {
    margin-bottom: 60px;
  }
  .why .control {
    top: 128px;
    margin-left: -45px;
  }
  .why .item .title {
    margin-bottom: 30px;
    text-align: center;
  }
  .apps-section .phone-holder {
    -webkit-background-size: 280px auto;
    -moz-background-size: 280px auto;
    -o-background-size: 280px auto;
    background-size: 280px auto;
  }
  .apps-section .phone-holder .screenshot {
    width: 242px;
    top: 66px;
  }
  .footer-col {
    margin-bottom: 30px;
  }
  .modal.modal-video .modal-dialog {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .access-page .navbar-collapse.collapse .navbar-nav {
    display: none;
  }
  .features-video {
    padding-top: 90px;
  }
  .pricing {
    padding-top: 90px;
  }
  .apps-section {
    padding-top: 80px;
  }
  .story-section {
    padding-top: 90px;
  }
  .contact-section {
    padding-top: 45px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .config-wrapper {
    display: block;
  }
  .header {
    height: 80px;
  }
  .header.navbar-fixed-top {
    position: fixed;
  }
  .header.scrolled {
    background: #fff;
    z-index: 1000;
    height: 80px;
    top: 0;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  .header.scrolled h1.logo a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #7bb757;
    background: #fff;
    padding-left: 0;
    padding-top: 25px;
  }
  .header.scrolled .main-nav .nav .nav-item a {
    color: #666666;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  .header.scrolled .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
    background: #7bb757;
    border-color: #7bb757;
  }
  .header.scrolled .main-nav .nav .dropdown-menu a {
    color: #fff;
  }
  .main-nav {
    float: right !important;
  }
  .navbar-form .form-control {
    width: 280px;
  }
  .header h1.logo {
    float: left;
    margin: inherit;
  }
  .header .main-nav .nav .nav-item {
    margin-right: 15px;
  }
  .main-nav.navbar-right {
    float: right !important;
  }
  .promo {
    height: 620px;
    padding-top: 200px;
  }
  .promo.section .intro {
    margin-bottom: 45px;
  }
  .promo .btn-link {
    margin-top: 15px;
  }
  .why .item .content {
    margin-bottom: inherit;
  }
  .why .control {
    top: 128px;
    margin-left: -28px;
  }
  .modal.modal-video .modal-dialog {
    width: 760px;
    padding-left: 0;
    padding-right: 0;
  }
  .access-page .navbar-collapse.collapse .navbar-nav {
    display: none;
  }
  .access-section .divider {
    text-align: center;
    margin-bottom: 30px;
    color: #999999;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  .access-section .divider span {
    background: #fff;
    display: inline-block;
    padding: 10px 0;
    position: relative;
    top: 80px;
    margin-left: -10px;
  }
  .access-section .divider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #e5e5e5;
    height: 100%;
    width: 1px;
  }
  .access-section .social-btns {
    padding-left: 65px;
  }
  .access-section .social-btns .note {
    text-align: left;
  }
  .blog-slider {
    margin-top: 80px;
  }
  .why .item .title {
    margin-bottom: 15px;
    text-align: left;
  }
  .why .figure {
    text-align: left;
  }
  .blog-page .header-blog {
    position: fixed;
  }
  .blog-page .blog-category,
  .blog-page .blog-archive {
    margin-top: 80px;
  }
  .blog-entry-wrapper {
    margin-top: 80px;
  }
  /* Only show QR code for desktop */
  .download-area {
    overflow: hidden;
  }
  .download-area .download-list {
    float: left;
  }
  .download-area .qrcode-holder {
    float: left;
    margin-left: 45px;
    text-align: center;
  }
  .download-area .qrcode-holder .qrcode {
    max-width: 140px;
    margin: 0 auto;
  }
  .download-area .qrcode-holder .qrcode .caption {
    font-size: 12px;
    background: #fff;
    padding: 0 15px;
    padding-bottom: 15px;
    color: #253340;
    font-family: arial, sans-serif;
  }
  .navbar-fixed-top .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
  .features-video {
    padding-top: 170px;
  }
  .pricing {
    padding-top: 170px;
  }
  .apps-section {
    padding-top: 160px;
  }
  .story-section {
    padding-top: 170px;
  }
  .contact-section {
    padding-top: 125px;
  }
  .bg-slider-wrapper {
    position: fixed;
  }
}
/* Large devices (large desktops, 1200px and up) */
