.bb{
    background-image : url('../images/footer-bg.jpg');
    background-size: cover;
}
.footer-box{
    margin-left:21px;
}
.footer-head{
    color:black;
    font-size:26px;
    font-weight: bold;
}
.font-company-footer{
    font-size: 19px;
    color : black;
}
.font-detail-footer{
    font-size: 15px;
    color : black;
}
.copy-right{
    font-size: 17px;
    font-weight: bold;
}
a:hover {
    text-decoration: none;
}