@import url("fontFace.css");
html, body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    height: 100%;
    color:#999;
}
.img-responsive { width:100% }
a {
    color: #000; }
.button-black { background:#000000; border:none; border-radius: 0 }
.button-black a, .button-black a:visited { color:#FFFFFF }
.button-black a:hover { color:#000; background:#FFFFFF }
.pagination { margin-top:2px; margin-bottom:2px; }
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span { border-radius:0 }
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span { border-radius:0 }
.pagination>li>a, .pagination>li>span { border: solid 1px #e5e5e5; color: #000000; margin:0 1px }
#wrapper{ min-height: 100%; padding-bottom: 77px }
#wrapper > .container{
    padding-top: 0;
    padding-bottom: 0;
}
.txt-black { color:#000000 }
.main-color{ color: #c15050; }
.navbar { height:75px; background-color:#ffcb06  }
.navbar-default .navbar-nav > li > a {
    font: bold condensed 15px 'nobel'; text-transform:uppercase;
  color:#000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 26px 15px;

}
.nav2 > li > a {
  padding: 6px 15px;

}
.nav-a-text {
  padding-top: 4px;
	}
.home-banner { background-color:#fffbef; margin-top:78px }
.container-home {
    padding-top: 14px;
    padding-bottom: 45px;
}
.container-arrivals {
    padding-bottom: 77px;
}
.container-regist {
    padding-bottom: 108px;
}
.container-recommend, .container-recommend a, .container-recommend a:hover, .container-recommend a:visited { 
	 padding-top: 77px; text-transform:uppercase; text-decoration:none; color:#000000;
}
.container-recommend > div > img { margin-top:46px; margin-bottom:46px  }
.container-product {
    margin-top: 74px; background:#f6f6f6; padding-top:37px; padding-bottom:45px
}
.container-product > div > div > img { border:solid 1px #e5e5e5; margin-top:10px; margin-bottom:10px  }
.container-product-pagelink { padding-top:16px; padding-bottom:16px }
.container-product-page, .container-product-page a, .container-product-page a:hover, .container-product-page a:visited { color:#000000; text-transform:uppercase; text-decoration:none }
.container-product-page .price { font-size:30px  }
.container-product-page > div > img { margin-top:24px; margin-bottom:24px  }
.container-product-list > div > div { border:solid 1px #e5e5e5; padding-top:24px; padding-bottom:24px; margin-top:30px }
.container-product-list .left { border-right:solid 1px #e5e5e5;  }
.container-product-list .right { padding-top:35px }
.container-product-list .name { font-size:20px; font-weight:bold }
.container-product-list .star { color:#fdb546; padding-top:20px; padding-bottom:20px  }  
.container-product-list .detail { text-transform:none; color:#666666; font-size:14px; padding-bottom:25px }
.container-product-list .price { font-size:30px }
.container-product-list .price-cut { font-size:18px; color:#666666; text-decoration:line-through  }
.container-product-list .heart { color:#666666; padding-top:26px; padding-bottom:22px  } 
.container-product-list .qty { padding-bottom:20px  } 
.container-product-detail .picthumb { margin-top:6px } 
.container-product-detail .social { padding-top:22px; padding-bottom:48px }
.container-product-detail .name { font-size:30px; color:#000; text-transform:uppercase }
.container-product-detail .star { color:#fdb546; padding-top:20px; padding-bottom:20px  }  
.container-product-detail .detail { text-transform:none; color:#666666; font-size:14px; line-height:25px; padding-bottom:25px }
.container-product-detail .price { font-size:30px; color:#000000 }
.container-product-detail .price-cut { font-size:18px; color:#666666; text-decoration:line-through  }
.container-product-detail .heart { color:#666666; padding-top:26px; padding-bottom:22px  } 
.container-product-detail .qty { padding-bottom:20px  } 
.container-product-detail .descript { border:solid 1px #e5e5e5; font-size:14px; line-height:28px; text-transform:none; margin-bottom:50px; padding:25px 30px  }
.container-product-detail-left .left-nav { border:solid 1px #e5e5e5; padding:25px; margin-bottom:30px }
.container-product-detail-left .right-nav { border:solid 1px #e5e5e5; padding:14px; margin-bottom:30px }
.container-product-detail-left .name { font-size:16px; font-weight:bold; text-transform:uppercase; color:#000000 }
.container-product-detail-left .name2 { font-size:16px; font-weight:bold; text-transform:uppercase; color:#000000; padding-bottom:26px }
.container-product-detail-left .name3 { font-size:12px; font-weight:bold; text-transform:uppercase; color:#666666; line-height:12px }
.container-product-detail-left .name4 { font-size:12px; font-weight:bold; color:#666666; line-height:12px; }
.container-product-detail-left .price { font-size:26px; text-transform:uppercase; color:#000; line-height:46px }
.container-product-detail-left .cat { font-size:14px; text-transform:uppercase;padding-top:26px; padding-bottom:16px; color:#000000 }
.container-product-detail-left .cat2 { font-size:14px; text-transform:uppercase;padding-top:26px;padding-bottom:10px; margin-bottom:20px; color:#000000; border-bottom:solid 1px #e5e5e5; }
.container-product-detail-left .sub-cat { border-bottom:solid 1px #e5e5e5; padding:8px 0 }
.container-product-detail-left .sub-cat2 { padding:8px 0 }
.container-product-detail-left .topsell { padding-top:20px }
.container-product-detail-left .date { font-size:14px; color:#969a9b; padding-top:8px; padding-bottom:8px }
.container-product-detail-left .tag { border-radius:0; margin:5px 4px }
.container-news .news-box { padding-top:20px; padding-bottom:20px }
.container-news .name { font-size:18px; text-transform:uppercase; color:#000000 }
.container-news .post { font-size:14px; color:#666666; padding-top:20px; padding-bottom:20px }
.container-news .post-name { font-size:14px; color:#000 }
.container-news .text { color:#000; font-size:14px; line-height:25px; padding-bottom:20px }
.container-news .read, .container-news .read a, .container-news .read a:hover, .container-news .read a:visited { color:#000; font-size:14px; line-height:25px; padding-bottom:25px }


.btn-white { border-radius:0; padding:12px 30px; }
.btn-yellow { background:#febd00; border:none; border-radius:0; padding:12px 60px; font-weight:bold }
.nav-tabs { border:none }
.nav-tabs>li>a { text-transform:uppercase; padding: 12px 15px; }
.nav-center { margin-left:28% }
.tab-content-pad { padding-top:25px }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { 
text-transform:uppercase; padding: 12px 15px;
background-color: #000;
border: none;
color:#FFFFFF;
border-radius:0;
 }
.about-banner { margin-top:95px; margin-bottom:32px }
.about-banner2 { margin-bottom:25px }
.about-content { font:bold 20px 'psl_kittithada'; color:#000000; letter-spacing: 1px; }
.about-content-inner { margin-top:40px }
.about-content-head { font-size:50px; }
.about-content-head2 { font-size:26px; font-weight:bold; line-height:60px }
.about-content-head3 { font-weight: bolder; }
.about-content-box { border:solid 1px #e5e5e5; font-size:16px; padding-top:23px; padding-bottom:23px  }
footer{
    height: auto;
    background-color: #f5f5f5;
    border-color: #e5e5e5;
}
footer .section-1{
    padding-top: 40px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5e5e5;
}
footer .section-1 .row1{
    margin-top: 50px;
}
footer .section-1 .row2{
    margin-top: 70px;
}
footer .section-2{
	padding-top: 30px;
    padding-bottom: 45px;
    text-align: center;
}
footer .section-2 > ul > li {
    display: inline-block;
	}
.footer-header { font-size:16px; font-weight:bold; color:#000000; text-transform:uppercase }
.footer-account { border-left:solid 1px #e5e5e5; padding-bottom:60px }
.footer-account a { line-height:34px; }
.full-page {
    width: 100%;
    height: 100%;
    background-position: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.hr-footer { margin-top:10px; margin-bottom:10px }
.hr-product-footer { margin-top:74px; margin-bottom:30px }
@media screen and (min-width: 768px) { 

	.about-content-box { font-size:18px; }

 }
