input {
  font-family: 'Open Sans', sans-serif; }

* {
  margin: 0px;
  padding: 0px; }

body {
  background: #222;
  font-family: 'Open Sans', sans-serif;
  border-radius: 2px; }
  body #signin {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 350px;
    background: #fbcb05;
    padding: 30px 40px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.7); }
    body #signin #logo {
      text-align: center; }
    body #signin .headline {
      margin-top: 10px;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase; }
    body #signin .form label {
      margin-top: 10px;
      font-size: 12px;
      text-transform: uppercase; }
    body #signin .form input[type=text], body #signin .form input[type=password] {
      padding: 8px 14px;
      height: auto;
      border: 1px solid #AAA;
      font-size: 14px;
      background: #FFF;
      width: 100%;
      border-radius: 0; }
    body #signin .form .submit-btn {
      margin-top: 20px;
      background: #000;
      padding: 10px 20px;
      color: #FFF;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      body #signin .form .submit-btn:hover {
        background: #333; }
    body #signin .form .err_msg {
      margin-top: 6px;
      text-align: center;
      color: #CC0000;
      font-size: 12px; }
