.menu-active {
  background: #EEE;
  border-left: 6px solid #4a8e1a;
  color: #000; }

#account #content .headline {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px; }

#account #content .headline i {
  margin-right: 4px; }

#account #content .headline.th {
  font-size: 36px; }

#account #content .headline.th i {
  font-size: 24px; }

#account #content .sub-headline {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px; }

#account #content .sub-headline.th {
  font-size: 18px; }

#account #content form {
  background: #EEE;
  margin: 10px 0 14px;
  padding: 24px 30px; }

#account #content form #title .value label,
#account #content form #gender .value label,
#account #content form #marital_status .value label {
  margin-right: 20px;
  font-weight: normal; }

#account #content form #title .value label input,
#account #content form #gender .value label input,
#account #content form #marital_status .value label input {
  margin-right: 6px; }

#account #content form .form-label {
  padding-top: 10px; }

#account #content form .form-group > div:first-child {
  font-weight: bold;
  padding-bottom: 10px; }

#account #content form .address-div {
  border-top: 1px solid #DDD;
  padding-top: 15px; }

#account #content .table .topic {
  font-weight: bold; }

#account #content #sidebar .headline {
  margin-bottom: 10px; }

#account #content #sidebar .block {
  border: 1px solid #DDD; }

#account #content #sidebar .block > div {
  overflow: hidden;
  padding: 10px 14px; }

#account #content #sidebar .block > div:not(:last-child) {
  border-bottom: 1px solid #DDD; }

#account #content #sidebar .block > div .icon {
  float: left; }

#account #content #sidebar .block > div .icon i {
  font-size: 32px;
  line-height: 24px; }

#account #content #sidebar .block > div .detail {
  float: left;
  width: 90%;
  padding-left: 20px; }

#account #content #sidebar .block > div .detail .account-point {
  color: #73b843; }

#account #content #sidebar .block > div .detail .account-point,
#account #content #sidebar .block > div .detail .account-email,
#account #content #sidebar .block > div .detail .account-tel,
#account #content #sidebar .block > div .detail .account-mobile {
  font-size: 12px; }

#account #content #sidebar .block > div .detail .account-tel {
  margin-top: 8px; }

#account #content #sidebar .block > a {
  display: block;
  width: 100%;
  padding: 10px 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

#account #content #sidebar .block > a:not(:last-child) {
  border-bottom: 1px solid #DDD; }

#account #content #sidebar .block > a:hover {
  background: #EEE;
  border-left: 6px solid #4a8e1a;
  color: #000; }
