#address-book .block {
  background: #EEE;
  position: relative; }

#address-book .block .sub-headline {
  background: #4a8e1a;
  padding: 14px 20px;
  color: white;
  margin: 0 !important; }

#address-book .block .add-btn {
  position: absolute;
  top: 0;
  right: 0; }

#address-book .block .add-btn button {
  margin: 0;
  width: auto;
  padding: 8px 10px; }

#address-book .block .add-btn button i {
  margin-right: 6px; }

#address-book .block .item {
  position: relative;
  padding: 14px 20px; }

#address-book .block .item .name {
  font-weight: bold;
  font-size: 20px; }

#address-book .block .item .address {
  margin-bottom: 6px; }

#address-book .block .item .tax_id,
#address-book .block .item .tel {
  font-size: 12px; }

#address-book .block .item .option {
  position: absolute;
  top: 14px;
  right: 14px; }

#address-book .block .item .option button {
  margin: 0;
  padding: 6px 10px; }

#address-book .block .item:not(:last-child) {
  border-bottom: 1px solid #DDD; }
