#order-tracking .order-detail {
  display: table;
  width: 100%;
  background: #63a039; }

#order-tracking .order-detail > * {
  display: table-cell;
  padding: 10px 14px; }

#order-tracking .order-detail > *:not(:last-child) {
  border-right: 1px solid #FFF; }

#order-tracking .order-detail > a {
  color: #000; }

#order-tracking .order-detail > a:hover {
  background: #000;
  color: #FFF; }

#order-tracking .order-detail i {
  font-size: 16px; }

#order-tracking .order-detail.th {
  font-size: 16px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.5px; }

#order-tracking .order-icons {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#order-tracking .order-icons .item .icon {
  background: #EEE;
  color: #AAA;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 48px; }

#order-tracking .order-icons .item .text {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #CCC; }

#order-tracking .order-icons .item .text.th {
  font-size: 15px; }

#order-tracking .order-icons .item.active .icon {
  background: #63a039;
  color: #fff; }

#order-tracking .order-icons .item.active .text {
  color: #000; }

#order-tracking .order-icons .line {
  width: 150px;
  margin-bottom: 30px;
  border-top: 3px dashed #EEE; }

#order-tracking .order-icons .line.active {
  border-top: 3px solid #63a039; }
