@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#account th {
  background: #d2d2d2;
  border: 0px; }

.numble-value {
  font-size: 12pt;
  color: #73b843;
  text-align: center; }

.numble-control {
  width: 50px;
  height: 32px;
  padding: 6px;
  color: #73b843;
  font-family: Arial;
  background-color: white;
  position: relative;
  /* should probably keep this, the rest can be customized to your liking */ }

/* These styles are only applicable if includeButtons is set to true */
.numble-control .numble-arrow {
  position: absolute;
  right: -25px;
  font-size: 0.8em;
  cursor: pointer;
  color: white;
  background: #73b843;
  text-align: center;
  padding: 1px 4px;
  -webkit-transition: background 0.1s;
  transition: background 0.1s; }
  .numble-control .numble-arrow:hover {
    background: #4c8227; }

.numble-control .numble-increment {
  top: 0px;
  font-size: 8pt; }

.numble-control .numble-decrement {
  top: 17px;
  font-size: 8pt; }

#banner {
  width: 100%;
  /*background-image:url('../../images/bg_premium.png');
	height:667px;*/
  background-repeat: no-repeat; }
  #banner .container {
    background: white; }

#detail-banner {
  /*margin-left:100px;*/
  margin-top: 50px;
  font-size: 18pt; }

#detail-banner img {
  margin: 0px auto; }

#content .container {
  background: white; }

#content .price {
  color: #F9C3CD;
  font-size: 30pt; }

#content .price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#content .addtocart {
  text-align: right; }

#content .product-detail {
  font-size: 20pt; }
  #content .product-detail h2 {
    font-size: 30pt;
    font-weight: bold; }

#content .product-img {
  margin-top: 30px; }

#content .remove {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  #content .remove:hover {
    opacity: 0.75; }

#content th {
  text-transform: capitalize; }

#content td {
  vertical-align: middle; }

#content #header-shop {
  /*padding-left:100px;*/ }
  #content #header-shop h1 {
    position: relative;
    font-weight: bold; }
  #content #header-shop small {
    position: absolute;
    top: 33px;
    left: 55px;
    color: #B6130A; }
  #content #header-shop img {
    margin-top: 7px; }

#content .btn.ctn:hover {
  background: #000;
  color: #FFF; }

#content .btn.chk:hover {
  border-color: #666;
  background: #666 !important; }
