#checkout #content #payment-method .content .icon {
  padding-left: 25px;
  padding-top: 10px; }

#checkout #content #payment-method .content .text-danger {
  padding-left: 25px;
  padding-top: 10px; }

#checkout #content {
  margin-bottom: 40px; }

#checkout #content .headline {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px; }

#checkout #content .headline i {
  margin-right: 4px; }

#checkout #content .headline.th {
  font-size: 36px; }

#checkout #content .headline.th i {
  font-size: 24px; }

#checkout #content .block {
  background: #EEE;
  margin-bottom: 1px; }

#checkout #content .block.active .header {
  background: #73b843;
  color: #000; }

#checkout #content .block.active .header span.step-no {
  background: #5e9239; }

#checkout #content .block.active .content {
  display: block; }

#checkout #content .block .header {
  overflow: hidden;
  background: #CCC;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  padding: 6px 0; }

#checkout #content .block .header span {
  padding: 10px; }

#checkout #content .block .header span.step-no {
  padding: 10px 14px;
  background: #BBB; }

#checkout #content .block .content {
  display: none; }

#checkout #content .block .content.single-content {
  padding: 10px 20px; }

#checkout #content .block .content table tbody td {
  background: #FFF; }

#checkout #content .block .content .choice {
  font-weight: normal;
  margin: 0;
  -webkit-transition: background 0.2s;
  transition: background 0.2s; }

#checkout #content .block .content .choice > label {
  display: block;
  width: 100%;
  font-weight: normal;
  margin: 0;
  padding: 10px 14px;
  cursor: pointer; }

#checkout #content .block .content .choice > label input {
  margin-right: 10px; }

#checkout #content .block .content .choice:hover {
  background: #F6F6F6; }

#checkout #content .block .content .choice.active .sub-content {
  display: block;
  pointer-events: inherit; }

#checkout #content .block .content .sub-content {
  display: none;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 40px 20px;
  pointer-events: none; }

#checkout #content .block .content .sub-content .sub-headline {
  font-size: 16px;
  font-weight: bold;
  text-align: center; }

#checkout #content .block .content .sub-content .text {
  padding: 10px 0;
  text-align: center;
  font-size: 12px; }

#checkout #content .block .content .sub-content label.dropdown {
  margin: 0;
  max-width: 100%; }

#checkout #content .block .content .sub-content label.dropdown select {
  max-width: 100%; }

#checkout #content .block .content .form-group {
  overflow: hidden;
  padding: 6px 0;
  margin: 0; }

#checkout #content .block .content .form-group label:not(.dropdown) {
  margin: 0;
  padding: 10px 14px;
  font-size: 13px; }

#checkout #content .block .content .form-group .radio-label {
  padding: 6px 0; }

#checkout #content .block .content .form-group .radio-label input {
  display: inline-block;
  width: auto;
  margin: 0;
  margin-right: 10px; }

#checkout #content .block .content .form-group input,
#checkout #content .block .content .form-group textarea {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #CCC; }

#checkout #content .block .content .form-group label.dropdown {
  width: 100%; }

#checkout #content .block .content .form-group label.dropdown select {
  width: 100%;
  border: 1px solid #CCC; }

#checkout #content .block .content .form-group.navigate {
  margin-top: 10px; }

#checkout #content .block .content .form-group button {
  padding: 6px 20px;
  margin: 0; }

#checkout #content #member-login .sub-content {
  display: block;
  pointer-events: auto;
  padding: 20px 40px; }

#checkout #content #member-login .sub-content > div:first-child {
  border-right: 1px solid #DDD; }

#checkout #content #member-login .navigate {
  padding: 0 14px 10px; }

@media only screen and (max-width: 767px) {
  #checkout #content #member-login .sub-content > div:first-child {
    border: 0;
    border-bottom: 1px solid #DDD;
    padding-bottom: 20px;
    margin-bottom: 20px; } }

#checkout #content #shipping-information .navigate,
#checkout #content #payment-method .navigate {
  padding: 0 14px 10px; }

#checkout #content #order-confirmation table img {
  width: 80px; }

#checkout #content #order-confirmation .discount-div {
  margin: 20px 0; }

#checkout #content #order-confirmation .discount-div form input {
  width: 220px;
  padding: 10px;
  border: 0; }

#checkout #content #order-confirmation .discount-div form button {
  padding: 10px 24px; }

#checkout #content #order-confirmation .discount-div form .error-msg {
  font-weight: bold;
  padding-top: 4px; }

#checkout #content #order-confirmation .discount-div .current-code {
  display: none;
  padding: 6px 0;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold; }

#checkout #content #order-confirmation .discount-div .current-code span.code {
  padding: 0 10px 0 20px;
  font-size: 16px; }

#checkout #content #order-confirmation .discount-div .current-code a {
  padding: 2px 8px; }

#checkout #content #order-confirmation .discount-div .current-code a i {
  margin-right: 6px; }

#checkout .table-responsive table {
  width: 100%;
  border: 1px solid #DDD; }

#checkout .table-responsive table th, #checkout .table-responsive table td {
  padding: 10px 14px; }

#checkout .table-responsive table th {
  text-transform: uppercase;
  font-size: 12px;
  background: #F3F3F3; }

#checkout .table-responsive table td {
  border-top: 1px solid #DDD; }

#checkout .table-responsive table .product-img {
  width: 150px; }

#checkout .table-responsive table .product-img img {
  width: 150px; }

#checkout .table-responsive table .qty {
  width: 60px;
  padding: 8px 10px;
  text-align: right; }

#checkout .table-responsive table .update-btn {
  background: #000;
  color: #FFF;
  border-radius: 0;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-transition: background 0.4s;
  transition: background 0.4s; }

#checkout .table-responsive table .update-btn.th {
  font-size: 16px;
  letter-spacing: 0.7px;
  padding: 2px 8px; }

#checkout .table-responsive table .update-btn:hover {
  background: #333; }

#checkout .table-responsive table .del-btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FF0000;
  color: #FFF;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 18px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s; }

#checkout .table-responsive table .del-btn:hover {
  background: #CC0000; }

#checkout #thankyou {
  margin-top: 20px;
  border: 4px solid #73b843;
  padding: 20px;
  text-align: center; }

#checkout #thankyou .headline {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px; }

#checkout #thankyou .headline.th {
  font-size: 42px;
  line-height: 48px; }

#checkout #thankyou button {
  padding: 10px 14px; }
