@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

.portfolio-box-caption .btn {
  border: 1px solid white; }

.portfolio-box-caption .btn-default {
  color: #fff; }

.portfolio-box-caption .btn-default:hover {
  background-color: initial; }

#category {
  padding-top: 50px;
  padding-bottom: 0px; }

.box-caption {
  margin: 20px 0px; }
  .box-caption h2 {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 35px;
    text-transform: uppercase; }
  .box-caption p {
    margin-bottom: 0px; }

#new {
  padding: 50px 0px; }
  #new h2 {
    font-weight: bold;
    font-size: 3em; }
  #new .sub {
    font-size: 15pt;
    color: black; }
