@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#banner {
  background-color: #7BB754;
  min-height: 350px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover; }
  #banner #inner-banner {
    min-height: 350px;
    position: relative;
    width: 70%;
    margin: 0px auto; }
    #banner #inner-banner #text-banner {
      color: #fff;
      padding-top: 70px;
      position: absolute;
      z-index: 2;
      right: 0px; }
      #banner #inner-banner #text-banner .caption {
        margin: 2px 0px; }
      #banner #inner-banner #text-banner .how-to {
        border: 2px solid white;
        width: 139px;
        font-size: 22pt;
        margin: 25px auto; }
      #banner #inner-banner #text-banner h2 {
        margin: 0px;
        font-weight: bold;
        font-size: 3em; }
    #banner #inner-banner #pic-banner {
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: 1; }

#content #menu-how-to {
  list-style: none; }
  #content #menu-how-to li {
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    #content #menu-how-to li a {
      display: block;
      height: 50px;
      background: #f7f7f7;
      padding: 16px;
      margin: 3px;
      font-weight: 500;
      color: #000;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
  #content #menu-how-to .active {
    border-left: 6px solid #4e9e18; }
  #content #menu-how-to .heading-how-to {
    height: 45px;
    background: #4e9e18;
    padding: 8px;
    text-align: center;
    color: white;
    font-size: 16pt; }

#content .heading-step {
  color: #7BB754;
  font-size: 14pt; }

#content #inner .row {
  margin-top: 50px; }

#content #inner .col-md-7 {
  padding-top: 50px; }

#content #menu-how-to li:hover {
  background: #EEE;
  border-left: 6px solid #4a8e1a; }

#content .menu-active {
  background: #EEE;
  border-left: 6px solid #4a8e1a;
  color: #000; }

#content .chart-item {
  margin-bottom: 10px; }
  #content .chart-item .headline {
    margin-bottom: 14px;
    color: #7BB754;
    font-size: 24px; }
  #content .chart-item .table {
    border: 0; }
    #content .chart-item .table thead th {
      background: #C1DAB0;
      border: 1px solid #FFF; }
      #content .chart-item .table thead th:first-child {
        background: #B0D29A; }
    #content .chart-item .table tbody td {
      background: #D2E3C7;
      border: 1px solid #FFF; }
      #content .chart-item .table tbody td:first-child {
        background: #DFEAD8; }
