@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

#banner {
  background-image: url("../../images/bg_banner.png");
  min-height: 450px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover; }
  #banner #inner-banner {
    min-height: 450px;
    position: relative;
    width: 50%;
    margin: 0px auto; }
    #banner #inner-banner #text-banner {
      color: #fff;
      padding-top: 170px;
      position: absolute;
      z-index: 2; }
      #banner #inner-banner #text-banner .caption {
        margin: 2px 0px; }
      #banner #inner-banner #text-banner h2 {
        margin: 0px;
        font-weight: bold;
        font-size: 3em; }
    #banner #inner-banner #pic-banner {
      position: absolute;
      bottom: -4px;
      right: 0px;
      z-index: 1; }

#product {
  margin-top: 20px; }
  #product .img-product {
    width: 100%;
    height: 100%; }
  #product .product-box {
    position: relative;
    display: block; }
    #product .product-box button {
      border: 0px;
      background-color: rgba(240, 248, 255, 0);
      color: #ececec;
      font-size: 20pt; }
    #product .product-box .add-to-wishlist {
      position: absolute;
      right: 10px;
      bottom: 2px; }
    #product .product-box .add-to-wishlist:hover {
      color: #fff;
      -webkit-transition: all 0.35s;
      transition: all 0.35s; }
    #product .product-box .out-of-stock {
      position: absolute;
      left: 0px;
      padding: 5px 15px;
      background-color: rgba(255, 0, 0, 0.6);
      color: white;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    #product .product-box:hover .out-of-stock {
      background-color: rgba(255, 0, 0, 0.7); }
  #product .title {
    margin: 0px;
    color: #7d7d7d; }
  #product .price {
    font-weight: bold;
    font-size: 15pt; }
    #product .price .retail_price {
      font-size: 14px;
      color: #F62459;
      text-decoration: line-through; }
