@font-face {
  font-family: 'Helvethaica';
  src: url("../../fonts/dbhelvethaicax-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicax-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicax-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicax-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicax-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'Helvethaica-light';
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/dbhelvethaicaxli-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/dbhelvethaicaxli-webfont.woff2") format("woff2"), url("../../fonts/dbhelvethaicaxli-webfont.woff") format("woff"), url("../../fonts/dbhelvethaicaxli-webfont.ttf") format("truetype"); }

.bzoom_wrap ul li.bzoom_smallthumb_active {
  border: 0px !important; }

#banner {
  background-image: url("../../images/bg_banner.png");
  min-height: 450px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover; }
  #banner #inner-banner {
    min-height: 450px;
    position: relative;
    width: 50%;
    margin: 0px auto; }
    #banner #inner-banner #text-banner {
      color: #fff;
      padding-top: 170px;
      position: absolute;
      z-index: 2; }
      #banner #inner-banner #text-banner .caption {
        margin: 2px 0px; }
      #banner #inner-banner #text-banner h2 {
        margin: 0px;
        font-weight: bold;
        font-size: 3em; }
    #banner #inner-banner #pic-banner {
      position: absolute;
      bottom: -4px;
      right: 0px;
      z-index: 1; }

#product-related {
  margin-top: 20px; }
  #product-related .img-product {
    width: 100%;
    height: 100%; }
  #product-related .product-box {
    position: relative;
    display: block; }
    #product-related .product-box button {
      border: 0px;
      background-color: rgba(240, 248, 255, 0);
      color: #ececec;
      font-size: 20pt; }
    #product-related .product-box .add-to-wishlist {
      position: absolute;
      right: 10px;
      bottom: 2px; }
    #product-related .product-box .add-to-wishlist:hover {
      color: #fff;
      -webkit-transition: all 0.35s;
      transition: all 0.35s; }
    #product-related .product-box .out-of-stock {
      position: absolute;
      left: 0px;
      padding: 5px 15px;
      background-color: rgba(255, 0, 0, 0.6);
      color: white;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    #product-related .product-box:hover .out-of-stock {
      background-color: rgba(255, 0, 0, 0.7); }
  #product-related .title {
    margin: 0px;
    color: #7d7d7d; }
  #product-related .price {
    font-weight: bold;
    font-size: 15pt; }

#content h4 {
  font-weight: bold;
  color: #73b843; }

#content .content {
  overflow: hidden;
  padding: 0 30px; }

#content .product-info {
  overflow: hidden;
  padding: 0 30px; }
  #content .product-info .pagination a {
    z-index: auto !important; }

#content #detail p {
  margin-bottom: 5px; }

#content #detail .type, #content #detail .name {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 0px; }

#content #detail .out-of-stock {
  display: inline-block;
  padding: 5px 15px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  font-size: 13px; }

#content #detail .price {
  font-weight: bold;
  color: #73b843; }

#content #detail .model {
  font-size: 10pt;
  color: #7d7d7d; }
  #content #detail .model .show {
    display: inline-block !important; }

#content #detail .options {
  margin-top: 14px; }

#content #detail .pagination .size a {
  cursor: pointer; }

#content #detail .pagination .size.active a {
  cursor: pointer; }

#content #detail .pagination .size.disabled a {
  color: #d0d0d0;
  cursor: not-allowed;
  background-color: #e8e8e8; }

#content #sizechart .pagination > .active > a, #content #sizechart .pagination > .active > a:hover, #content #sizechart .pagination > .active > a:focus, #content #sizechart .pagination > .active > span, #content #sizechart .pagination > .active > span:hover, #content #sizechart .pagination > .active > span:focus {
  background-color: #696969;
  border-color: #696969; }

#content #sizechart .pagination > li > a, #content #sizechart .pagination > li > span {
  color: #b1b1b1; }

#content #sizechart .btn-chart li {
  cursor: pointer; }

#content .btn-add-to-cart {
  color: #FFF; }

#content .btn-add-to-wishlist {
  border-color: #73b843;
  color: #FFF; }

#content .btn-lookbook {
  width: 48%;
  float: right; }

#content .btn:hover, #content .btn:focus, #content .btn.focus {
  opacity: 0.75;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

#content #pic-product {
  min-height: 470px;
  text-align: center;
  position: relative;
  padding-bottom: 30px; }
  #content #pic-product .desoslide-wrapper {
    cursor: pointer; }
  #content #pic-product #slideshow, #content #pic-product #slideshow_thumbs {
    text-align: center; }
    #content #pic-product #slideshow .img-responsive, #content #pic-product #slideshow_thumbs .img-responsive {
      display: inline-block; }
  #content #pic-product #slideshow_thumbs {
    margin-left: 0px; }
    #content #pic-product #slideshow_thumbs .list-inline {
      padding-left: 0;
      list-style: none;
      margin-left: 0px; }
      #content #pic-product #slideshow_thumbs .list-inline li {
        padding-bottom: 10px; }

.retail_price {
  font-size: 14px;
  color: #F62459;
  text-decoration: line-through; }

#slideshow_thumbs {
  margin-left: -20px; }

@media only screen and (max-width: 968px) {
  #slideshow_thumbs {
    margin-top: 10px; } }

@media only screen and (max-width: 600px) {
  .zoomContainer {
    display: none; } }
