@charset "utf-8";
@font-face {
    font-family: 'DBHelvethaicaX45Light';
    src: url('helvethaica/dbhelvethaicaxli-webfont.eot');
    src: url('helvethaica/dbhelvethaicaxli-webfont.eot?#iefix') format('embedded-opentype'),
    url('helvethaica/dbhelvethaicaxli-webfont.woff2') format('woff2'),
    url('helvethaica/dbhelvethaicaxli-webfont.woff') format('woff'),
    url('helvethaica/dbhelvethaicaxli-webfont.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'DBHelvethaicaX47LightCondensed';
    src: url('helvethaica/dbhelvethaicaxlicond-webfont.eot');
    src: url('helvethaica/dbhelvethaicaxlicond-webfont.eot?#iefix') format('embedded-opentype'),
    url('helvethaica/dbhelvethaicaxlicond-webfont.woff2') format('woff2'),
    url('helvethaica/dbhelvethaicaxlicond-webfont.woff') format('woff'),
    url('helvethaica/dbhelvethaicaxlicond-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'DBHelvethaicaX55Regular';
    src: url('helvethaica/dbhelvethaicax-webfont.eot');
    src: url('helvethaica/dbhelvethaicax-webfont.eot?#iefix') format('embedded-opentype'),
    url('helvethaica/dbhelvethaicax-webfont.woff2') format('woff2'),
    url('helvethaica/dbhelvethaicax-webfont.woff') format('woff'),
    url('helvethaica/dbhelvethaicax-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'DBHelvethaicaX57Condensed';
    src: url('helvethaica/dbhelvethaicaxcond-webfont.eot');
    src: url('helvethaica/dbhelvethaicaxcond-webfont.eot?#iefix') format('embedded-opentype'),
    url('helvethaica/dbhelvethaicaxcond-webfont.woff2') format('woff2'),
    url('helvethaica/dbhelvethaicaxcond-webfont.woff') format('woff'),
    url('helvethaica/dbhelvethaicaxcond-webfont.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'DBHelvethaicaX65Medium';
    src: url('helvethaica/dbhelvethaicaxmed-webfont.eot');
    src: url('helvethaica/dbhelvethaicaxmed-webfont.eot?#iefix') format('embedded-opentype'),
    url('helvethaica/dbhelvethaicaxmed-webfont.woff2') format('woff2'),
    url('helvethaica/dbhelvethaicaxmed-webfont.woff') format('woff'),
    url('helvethaica/dbhelvethaicaxmed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'DBHelvethaicaX73BoldExtended';
    src: url('helvethaica/dbhelvethaicaxbdext-webfont.eot');
    src: url('helvethaica/dbhelvethaicaxbdext-webfont.eot?#iefix') format('embedded-opentype'),
    url('helvethaica/dbhelvethaicaxbdext-webfont.woff2') format('woff2'),
    url('helvethaica/dbhelvethaicaxbdext-webfont.woff') format('woff'),
    url('helvethaica/dbhelvethaicaxbdext-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'DBHelvethaicaX75Bold';
    src: url('helvethaica/dbhelvethaicaxbd-webfont.eot');
    src: url('helvethaica/dbhelvethaicaxbd-webfont.eot?#iefix') format('embedded-opentype'),
    url('helvethaica/dbhelvethaicaxbd-webfont.woff2') format('woff2'),
    url('helvethaica/dbhelvethaicaxbd-webfont.woff') format('woff'),
    url('helvethaica/dbhelvethaicaxbd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}

@font-face {
    font-family: 'thaisans_neue';
    src: url('thaisansneue/thaisansneue-regular.eot');
    src: url('thaisansneue/thaisansneue-regular.eot?#iefix') format('embedded-opentype'),
    url('thaisansneue/thaisansneue-regular.woff') format('woff'),
    url('thaisansneue/thaisansneue-regular.ttf') format('truetype'),
    url('thaisansneue/thaisansneue-regular.svg#thaisans_neue') format('svg');
    font-weight: normal;
    font-style: normal;
	font-smoothing: antialiased;
}
@font-face {
    font-family: 'thaisans_neue_i';
    src: url('thaisansneue/thaisansneue-italic.eot');
    src: url('thaisansneue/thaisansneue-italic.eot?#iefix') format('embedded-opentype'),
    url('thaisansneue/thaisansneue-italic.woff') format('woff'),
    url('thaisansneue/thaisansneue-italic.ttf') format('truetype'),
    url('thaisansneue/thaisansneue-italic.svg#thaisans_neue') format('svg');
    font-weight: normal;
    font-style: italic;
	font-smoothing: antialiased;

}

@font-face {
    font-family: 'thaisans_neue_l';
    src: url('thaisansneue/thaisansneue-light.eot');
    src: url('thaisansneue/thaisansneue-light.eot?#iefix') format('embedded-opentype'),
    url('thaisansneue/thaisansneue-light.woff') format('woff'),
    url('thaisansneue/thaisansneue-light.ttf') format('truetype'),
    url('thaisansneue/thaisansneue-light.svg#thaisans_neue') format('svg');
    font-weight: normal;
    font-style: normal;
    font-smoothing: antialiased;

}

@font-face {
    font-family: 'thaisans_neue_b';
    src: url('thaisansneue/thaisansneue-bold.eot');
    src: url('thaisansneue/thaisansneue-bold.eot?#iefix') format('embedded-opentype'),
    url('thaisansneue/thaisansneue-bold.woff') format('woff'),
    url('thaisansneue/thaisansneue-bold.ttf') format('truetype'),
    url('thaisansneue/thaisansneue-bold.svg#thaisans_neue') format('svg');
    font-weight: bold;
    font-style: normal;
	font-smoothing: antialiased;

}
@font-face {
    font-family: 'thaisans_neue_bi';
    src: url('thaisansneue/thaisansneue-bolditalic.eot');
    src: url('thaisansneue/thaisansneue-bolditalic.eot?#iefix') format('embedded-opentype'),
    url('thaisansneue/thaisansneue-bolditalic.woff') format('woff'),
    url('thaisansneue/thaisansneue-bolditalic.ttf') format('truetype'),
    url('thaisansneue/thaisansneue-bolditalic.svg#thaisans_neue') format('svg');
    font-weight: bold;
    font-style: italic;
	font-smoothing: antialiased;

}
