// Import CSS Framework here ** !!
@import "./global/_constant.scss";

#account{
	#breadcrumb{
		padding: 24px 0 14px;
	}

	#address{
		margin-bottom: 20px;

		.block{
			background: #EEE;
			padding: 14px 20px;
		}
	}
	#content{
			form{
			background: white;
			}
	}
}
