// Import CSS Framework here ** !!
@import "./global/_constant.scss";
#account{
	th{
		background: #d2d2d2;
    	border: 0px;
	}
}
      .numble-value{
        font-size: 12pt;
        color:#73b843;
        text-align: center
      }
        .numble-control{
      width: 50px;
      height: 32px;
      padding: 6px;
      color: #73b843;
      font-family: Arial;
      background-color: white;
      position: relative; /* should probably keep this, the rest can be customized to your liking */
    }

    /* These styles are only applicable if includeButtons is set to true */
    .numble-control .numble-arrow{
      position: absolute;
      right: -25px;
      font-size: 0.8em;
      cursor: pointer;
      color:white;
      background:#73b843;
      text-align: center;
			padding: 1px 4px;
			transition: background 0.1s;

			&:hover{
				background: #4c8227;
			}
    }

    .numble-control .numble-increment{
      top: 0px;
      font-size: 8pt;
    }

    .numble-control .numble-decrement{
      top: 17px;
      font-size: 8pt;
    }
#banner{
	width: 100%;
	/*background-image:url('../../images/bg_premium.png');
	height:667px;*/
	background-repeat:no-repeat;
	.container{
		background:white;
	}
}#detail-banner{

	/*margin-left:100px;*/
	margin-top:50px;
	font-size:18pt;
}
#detail-banner{
		img{
			margin: 0px auto;
		}
	}
#content{
	.container{
		background:white;
	}
	.price{
		color:#F9C3CD;
		font-size:30pt;
	}
	.price-item{
		display: flex;
		align-items: center;
	}.addtocart{
		text-align:right;
	}.product-detail{
		font-size:20pt;
		h2{
			font-size:30pt;
			font-weight:bold;
		}
	}.product-img{
		margin-top: 30px;
	}
	.remove{
		transition: opacity 0.2s;

		&:hover{
			opacity: 0.75;
		}
	}

	th{
		text-transform: capitalize;
	}

	td{
		vertical-align: middle;
	}


	#header-shop{
		/*padding-left:100px;*/
		h1{
			position: relative;
			font-weight:bold;

		}
		small{
			position: absolute;
			top: 33px;
    		left: 55px;
    		color:#B6130A;
		}
		img{
			margin-top: 7px;
		}


	}

	.btn.ctn:hover{
		background: #000;
		color: #FFF;
	}

	.btn.chk:hover{
		border-color: #666;
		background: #666 !important;
	}

}
