// Import CSS Framework here ** !!
@import "./global/_constant.scss";

body{

}
.portfolio-box-caption{
	.btn{
		 border: 1px solid white;

	}
	.btn-default{
		color:#fff;
	}
	.btn-default:hover{
		background-color: initial;
	}
}
#category{
	padding-top:50px;
	padding-bottom:0px;
}
.box-caption{
	margin:20px 0px;
	h2{
		font-weight: bold;
		margin-top:4px;
		margin-bottom: 35px;
	  	text-transform: uppercase;
	}
	p{
		margin-bottom: 0px;
	}
}#new{
	h2{
		font-weight: bold;
		font-size: 3em;
	}
	.sub{
		font-size: 15pt;
		color:black;
	}
	padding:50px 0px;
}
