// Import CSS Framework here ** !!
@import "./global/_constant.scss";

#banner{
	background-color:#7BB754;
	min-height:350px;
	position:relative;
	background-repeat: no-repeat;
    background-size: cover;

	#inner-banner{
		min-height:350px;
		position:relative;
		width:70%;
		margin:0px auto;

		#text-banner{
			color:#fff;
			padding-top:70px;
			position: absolute;
			z-index:2;
			right:0px;

			.caption{
				margin:2px 0px;
			}

			.how-to{
				border: 2px solid white;
			    width: 139px;
			    font-size: 22pt;
			    margin: 25px auto;
			}

			h2{
				margin:0px;
				font-weight: bold;
    			font-size: 3em;
			}
		}

		#pic-banner{
			position: absolute;
		    bottom: 0px;
		    left: 0px;
		    z-index:1;
		}
	}
}

#content{
	#menu-how-to{
		list-style: none;

		li{
			transition: all 0.2s;

			a{
				display: block;
				height: 50px;
			    background: #f7f7f7;
			    padding: 16px;
			    margin: 3px;
			    font-weight: 500;
				color: #000;
				transition: all 0.2s;
			}
		}

		.active{
			border-left: 6px solid #4e9e18;
		}

		.heading-how-to{
			    height: 45px;
			    background: #4e9e18;
			    padding: 8px;
			    text-align: center;
			    color: white;
			    font-size: 16pt;
		}
	}

	.heading-step{
		color:#7BB754;
		font-size:14pt;
	}

	#inner{
		.row{
			margin-top:50px;
		}

		.col-md-7{
			padding-top:50px;
		}
	}
}

#content{
	#menu-how-to li:hover {
		background: #EEE;
		border-left: 6px solid #4a8e1a;
	}

	.menu-active{
		background: #EEE;
		border-left: 6px solid #4a8e1a;
		color: #000;
	}

	.chart-item{
		margin-bottom: 10px;

		.headline{
			margin-bottom: 14px;
			color: #7BB754;
			font-size: 24px;
		}

		.table{
			border: 0;

			thead{
				th{
					background: #C1DAB0;
					border: 1px solid #FFF;

					&:first-child{
						background: #B0D29A;
					}
				}
			}

			tbody{
				td{
					background: #D2E3C7;
					border: 1px solid #FFF;

					&:first-child{
						background: #DFEAD8;
					}
				}
			}
		}
	}
}
