// Import CSS Framework here ** !!
@import "./global/_constant.scss";

#banner{
	background-image:url('../../images/bg_banner.png');
	min-height:450px;
	position:relative;
	background-repeat: no-repeat;
    background-size: cover;
	#inner-banner{
		min-height:450px;
		position:relative;
		width:50%;
		margin:0px auto;
		#text-banner{
			color:#fff;
			padding-top:170px;
			position: absolute;
			z-index:2;
			.caption{
				margin:2px 0px;
			}
			h2{
				margin:0px;
				font-weight: bold;
    			font-size: 3em;
			}
		}
		#pic-banner{
			position: absolute;
		    bottom: -4px;
		    right: 0px;
		    z-index:1;
		}
	}
}
#product{
	margin-top:20px;
	.img-product{
		width:100%;
		height:100%;
	}
	.product-box{
		position:relative;
		display:block;
		button{
			border: 0px;
    		background-color: rgba(240, 248, 255, 0);
    		color:#ececec;
    		font-size: 20pt;

		}
		.add-to-wishlist{
			position:absolute;
			right:10px;
			bottom:2px;
		}
		.add-to-wishlist:hover{
			color:#fff;
			transition: all 0.35s;
		}
	  .out-of-stock{
		position: absolute;
		left: 0px;
		padding: 5px 15px;
		background-color: rgba(255, 0, 0, 0.6);
		color: white;
		transition: all 0.3s;
	  }
	  &:hover .out-of-stock{
		background-color: rgba(255, 0, 0, 0.7);
	  }

	}
	.title{
		margin:0px;
		color:#7d7d7d;
	}
	.price{
		font-weight: bold;
    	font-size: 15pt;

	  .retail_price{
		font-size: 14px;
		color: #F62459;
		text-decoration: line-through;
	  }
	}
}