// Import CSS Framework here ** !!
@import "./global/_constant.scss";
.bzoom_wrap ul li.bzoom_smallthumb_active{
	border:0px!important;
}
#banner{
	background-image:url('../../images/bg_banner.png');
	min-height:450px;
	position:relative;
	background-repeat: no-repeat;
    background-size: cover;
	#inner-banner{
		min-height:450px;
		position:relative;
		width:50%;
		margin:0px auto;
		#text-banner{
			color:#fff;
			padding-top:170px;
			position: absolute;
			z-index:2;
			.caption{
				margin:2px 0px;
			}
			h2{
				margin:0px;
				font-weight: bold;
    			font-size: 3em;
			}
		}
		#pic-banner{
			position: absolute;
		    bottom: -4px;
		    right: 0px;
		    z-index:1;
		}
	}
}
#product-related{
	margin-top:20px;
	.img-product{
		width:100%;
		height:100%;
	}
	.product-box{
		position:relative;
		display:block;
		button{
			border: 0px;
    		background-color: rgba(240, 248, 255, 0);
    		color:#ececec;
    		font-size: 20pt;

		}
		.add-to-wishlist{
			position:absolute;
			right:10px;
			bottom:2px;
		}
		.add-to-wishlist:hover{
			color:#fff;
			transition: all 0.35s;
		}
	  .out-of-stock{
		position: absolute;
		left: 0px;
		padding: 5px 15px;
		background-color: rgba(255, 0, 0, 0.6);
		color: white;
		transition: all 0.3s;
	  }
	  &:hover .out-of-stock{
		background-color: rgba(255, 0, 0, 0.7);
	  }
	}
	.title{
		margin:0px;
		color:#7d7d7d;
	}
	.price{
		font-weight: bold;
    	font-size: 15pt;

	}
}

#content{
	h4{
		font-weight:bold;
		color:#73b843;
	}

	.content{
		overflow: hidden;
		padding: 0 30px;
	}

	.product-info{
		overflow: hidden;
		padding: 0 30px;

		.pagination a{
			z-index: auto !important;
		}
	}
	#detail{
		p{
			margin-bottom:5px;
		}
		.type,.name{
			font-weight:bold;
			font-size: 22px;
			margin-bottom:0px;
		}
		.out-of-stock{
		  display: inline-block;
		  padding: 5px 15px;
		  background-color: rgba(255, 0, 0, 0.8);
		  color: white;
		  font-size: 13px;
		}
		.price{
			font-weight:bold;
			color:#73b843;
		}.model{
			font-size:10pt;
			color:#7d7d7d;
	  		.show{
			  display: inline-block !important;
			}
		}
		.options{
			margin-top: 14px;
		}

	  	.pagination{
		  .size{

			a{
			  cursor: pointer;
			}
		  }
			.size.active a{
			  cursor: pointer;
			}
			.size.disabled a{
			  color: #d0d0d0;
			  cursor: not-allowed;
			  background-color: #e8e8e8;
		  }
		}
	}
	#sizechart{
		.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
			    background-color: #696969;
    			border-color: #696969;
		}
		.pagination > li > a, .pagination > li > span{
				color:#b1b1b1;
		}
		.btn-chart li{
			cursor:pointer;
		}
	}
	.btn-add-to-cart{
		color: #FFF;
	}
	.btn-add-to-wishlist{
		border-color: #73b843;
		color: #FFF;
	}
	.btn-lookbook{
    	width: 48%;
    	float:right;
	}
	.btn:hover, .btn:focus, .btn.focus{
		opacity: 0.75;
		transition: all 0.2s;
	}
	#pic-product{
		min-height: 470px;
		text-align: center;
		position: relative;
		padding-bottom: 30px;

	  .desoslide-wrapper{
		cursor: pointer;
	  }
	  #slideshow, #slideshow_thumbs{
		text-align: center;
		.img-responsive{
		  display: inline-block;
		}
	  }
	  #slideshow{

	  }
	  #slideshow_thumbs{
		margin-left: 0px;
		.list-inline {
		  padding-left: 0;
		  list-style: none;
		  margin-left: 0px;

		  li{
			padding-bottom: 10px;
		  }
		}
	  }


	}
}
.retail_price{
  font-size: 14px;
  color: #F62459;
  text-decoration: line-through;
}
#slideshow_thumbs{
	margin-left: -20px;
}
@media only screen and (max-width: 968px){
	#slideshow_thumbs{
		margin-top: 10px;
	}
}
@media only screen and (max-width: 600px){
	.zoomContainer{
		display: none;
	}
}
