// Import CSS Framework here ** !!
@import "./global/_constant.scss";

#form{
	margin-top: 14px;
	background: #EEE;
	padding: 20px;

	.footer{
		margin-top: 20px;
	}

	.btn:hover{
		background: #000;
		color: #FFF;
	}
}
