$primary-color: #fbcb05;
$primary-text-color: #000;
$primary-hover-color: #ffdc62;

// Global Constants
$header-bg-default: #fbcb05;
$header-bg-hover: #d1a800;
$header-bg-hover-alt: #e3b700;
$header-text-default: #000;

$nav-bg-hover: #000;
$nav-text-default: #000;
$nav-text-hover: #FFF;

$footer-bg-default: #EEE;
$footer-text-default: #333;
$footer-text-hover: #999;

$link-text-default: #666;
$link-text-hover: #999;

$button-bg-default: #333;
$button-bg-hover: #666;
$button-text-default: #FFF;

$button-bg-alt: $primary-color;
$button-bg-alt-hover: $primary-hover-color;
$button-text-alt: $primary-text-color;

// General Configs
$img_path: '../../images/';

// fonts
$menu-font : "HelveticaNeue-CondensedBold","Thonburi","Tahoma",serif;
@font-face {
  font-family: 'Helvethaica';
  src: url('../../fonts/dbhelvethaicax-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/dbhelvethaicax-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/dbhelvethaicax-webfont.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/dbhelvethaicax-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/dbhelvethaicax-webfont.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Helvethaica-light';
  src: url('../../fonts/dbhelvethaicaxli-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/dbhelvethaicaxli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/dbhelvethaicaxli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/dbhelvethaicaxli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/dbhelvethaicaxli-webfont.ttf')  format('truetype') /* Safari, Android, iOS */
}
