@import "./_constant.scss";

footer a{
    color:#fff;
  	font-weight: lighter;
  	letter-spacing: 1px;

    &:focus,
    &:hover{
      text-decoration: underline;
      color: #FFF;
    }
}

footer{
    background-color: #73b843;
    letter-spacing: 1px;
	color:#fff;
	padding: 50px 0px 20px 0px;

    .list-unstyled{
      li{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2px;
      }

      .topic{
        padding-bottom: 4px;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }

      &.th{
        li a{
          letter-spacing: 0.5px;
        }
      }
    }

  	.btn{
  		font-size:8pt;
  		background: #4c8227;
      border-radius: 8px;
      border: 0px;
  	}

  	p{
  		margin-bottom: 8px;
  		font-weight: 200;
      font-size: 9pt;

      text-transform: uppercase;

      &.th{
        font-size: 14px;
        font-weight: 100!important;
        letter-spacing: 0;
      }
  	}

    #newsletter-form{
        .alert-subscribe{
            margin-top: 6px;

            &.th{
                letter-spacing: 0;
            }

            &.text-success{
                color: #FFF3C5;
            }
        }
    }

    .bottom{
      margin-top: 20px;
      padding-top: 30px;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
    }
}
