@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "_constant.scss";
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
    background-color: #73b843;
    border-color: #73b843;
}#thankyou{
  padding-top:20px;
  padding-bottom:20px;
  min-height:230px;
  border: 2px solid #73b843;
  margin-top: 40px;
  margin-bottom: 40px;
}
.black{
  background:black!important;
  border: 1px solid black!important;
  color:white!important;
}
#content{
  padding:20px 0px 40px 0px;
  min-height:400px;
}
.breadcrumb{
  background-color: rgba(245, 245, 245, 0)!important;
}
.pagination > li > a, .pagination > li > span{
    color:#73b843;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus{
    color:#51842d;
}
.btn-add-to-cart{
  width:100%;
  background: black;
    color: white;
}
.btn-add-to-wishlist{
    background: #73b843;
    border-color:#3c763d!important;
    color: white;
    width: 50%;
}

.dropdown-menu{
  margin:0px;
  border-radius: 1px;
}
.dropdown{
  display: inline-block;
}
.dropdown-submenu {
    position: relative;

}
.right{
  float:right;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
#ui-main{
  margin-top:65px;
}
.center{
  margin: 0px auto;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  /* Change Color Grayscale */
  -moz-filter: grayscale(100%) !important;
  -webkit-filter: grayscale(100%) !important;
  filter: gray !important;
  filter: grayscale(100%) !important;
}
hr {
  border-color: #73b843;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #73b843;
}
a:hover,
a:focus {
  color: #696969;
  text-decoration:none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #73b843;
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
#nav{
  width: 100%;
  min-height: 65px;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  z-index: 9999;
  border-bottom: 1px solid #73b843;

  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  a{
    color: #000000;
  }

  .flex{
    display: flex;
    flex-direction: row;
    align-items: center;

    .alert-qty{
      position: absolute;
      background-color: #EF5350;
      color: #ffffff;
      font-size: 10px;
      width: 18px;
      height: 18px;
      padding-top: 2px;
      border-radius: 50% 50%;
      text-align: center;
    }

    .nav-brand{
      width: 20%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .nav-logo{
        margin-right: 30px;
        img{
          width: 100px;
          max-width: 100%;
        }
      }
      .nav-lang{
        padding: 20px 0px;
        color: #cccccc;
        &:hover{
          color: #73b843;
        }
      }
      .nav-lang.active{
        color: #73b843;
      }
    }

    .nav-menu{
      width: 80%;
      min-height: 65px;
      text-align: right;

      ul{
        list-style: none;
        padding: 0;
        margin: 0px;

        li{
          display: inline;
          a{
            display: inline-block;
            padding: 20px 10px;
            &:hover, &focus{
              color: #73b843;
            }
          }

          .icon-wishlist{
            position: relative;

            &:hover img {
              content: url('../../images/icon-wishlist-green.png');
            }
            img{
              height: 22px;
            }

            .wishlist-qty{
              right: 0px;
              bottom: 5px;
            }
          }
          .icon-bag{
            position: relative;

            .header-qty{
              right: -1px;
              bottom: 8px;
            }
            &:hover img {
              content: url('../../images/shopping-bag-green.png');
            }
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .flex{
      .nav-menu{
        ul{
          width: 300px !important;
        }
      }
    }

  }
  @media (max-width: 991px) {
    .flex{
      .nav-brand{
        width: 90%;
      }
      .nav-menu{
        position: relative;

        .alert-qty{
          font-size: 8px;
          width: 15px;
          height: 15px;
          padding-top: 2px;
        }
        .icon-bag, .icon-wishlist, .toggle-menu{
          padding: 20px 10px;
          display: inline-block;
        }
        .toggle-menu{
          img {
            width: 20px;
          }
        }
        .icon-wishlist{
          position: relative;
          .wishlist-qty{
            right: 0px;
            bottom: 10px;
          }
          &:hover img {
            content: url('../../images/icon-wishlist-green.png');
          }
          img{
            height: 16px;
          }
        }
        .icon-bag{
          position: relative;
          .header-qty{
            right: 2px;
            bottom: 11px;
          }
          &:hover img {
            content: url('../../images/shopping-bag-green.png');
          }
          img{
            height: 20px;
          }
        }

        ul{
          width: 320px;
          padding: 10px 0px;
          border: 1px solid #73b843;
          border-top: none;

          background-color: rgba(255,255,255,0.9);
          position: absolute;
          top: 66px;
          right: -15px;
          display: none;
          text-align: left;
          li{
            a{
              display: block;
              padding: 10px 20px;
            }

          }
        }
      }
    }
  }
}
.headertop .header-content{
  position: absolute;
  top: 50%;
  left: 60%;
  // transform: translate(50%,50%);
  text-align: center;
  // padding: 50px 50px;
  @media (max-width: 1366px) {
    top: 55%;
    left: 57%;
  }
  @media (max-width: 1280px) {
    top: 50%;
    left: 57%;
  }
  @media (max-width: 1024px) {
    top: 40%;
    left: 50%;
  }
  @media (max-width: 950px) {
    top: 37%;
    left: 47%;
  }
  @media (max-width: 768px) {
    top: 20%;
  }
  @media (max-width: 640px) {
    top: 18%;
  }
  @media (max-width:  500px) {
    top: 30%;
  }
  @media (max-width:  400px) {
    top: 25%;
  }
  #headertop{
    min-width: 100%;
  }
  .header-content-inner{
    padding: 20px 20px;
    background: rgba(255, 255, 255, 0.42);
    h1{
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
    }
    hr{
      margin: 30px auto;
    }
    p{
      font-weight: 300;
      font-size: 16px;
      margin-bottom: 0px;
    }
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../../images/header.jpg');
  text-align: center;
  color:black;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 0px 15px 100px;
  width: 100%;
  .header-content-inner{
    padding: 20px 20px;
    background: rgba(255, 255, 255, 0.42);
  }
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 500px;
    background: rgba(255, 255, 255, 0.42);
    padding: 25px;
    color: black;
    margin-left: auto;
    /*margin-right: auto;*/
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.section-heading {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }

}
@media (max-width: 768px){
  header {
    min-height: 300px;
    margin-top: 80px;
  }
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: #73b843;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #222222;
  background-color:rgba(255, 255, 255, 0);
  border-color: #ffffff;

  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: black;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #222222;
}
.btn-primary {
  color: #ffffff;
  background-color: #73b843;
  border-color: #73b843;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #ee4b28;
  border-color: #ed431f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #73b843;
  border-color: #73b843;
}
.btn-primary .badge {
  color: #73b843;
  background-color: #ffffff;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 1px;
  font-weight: 700;
  border: 1px solid black;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}
